[2019-05-13 21:19] dudusotero opened #9 "Add a component documentation"
Will be nice to use some type of component documentation like [Docz](https://github.com/pedronauck/docz).

Using it will make easier for everyone looking for answers

[2019-05-13 21:56] diego3g commented on #9
Hi @dudusotero, i was testing Docz with TypeScript and i got some problems while trying to render PropsTable (https://www.docz.site/docs/built-ins-components#component-props).

Maybe related to this issue: https://github.com/pedronauck/docz/issues/138

As soon as i didn't manage to fix it, i leaved it this way.

I'm also taking a look at Storybook as an alternative to Docz.

[2019-05-13 22:08] dudusotero commented on #9
If you create a branch and send me the actual implementation, I could try help you to fix it.

[2019-05-13 22:29] diego3g commented on #9
@dudusotero Actually i changed all the docs project to pure Javascript to make it work, so i don't have the TS version anymore. But you can just create a new project with docz and TypeScript and try to render PropTable.

[2019-05-13 22:37] fitinge opened #11 "Field <Select /> does not send initialData if it does not change the value"
I'm using the initialData for a `<Select />` field and it already appears with the selected value. When I change the select, the form is sent with the correct values, but if I leave default, the value of the field gets undefined

[code]

<img width="344" alt="Captura de Tela 2019-05-13 às 19 36 09" src="https://user-images.githubusercontent.com/1730080/57658774-74778b80-75b6-11e9-91f1-743603f20b2

[2019-05-13 23:03] jpdemagalhaes commented on #11
After a quick look it seems that `defaultValue` on `<select>` doesn't trigger `onChange` therefore, remaining undefined until a user input.

I'll take a look into into.

[2019-05-13 23:07] dudusotero commented on #9
@diego3g I will make it, and I will share with you my results ;)

[2019-05-14 01:22] ghost opened #12 "TypeError: Cannot read property 'indexOf' of undefined"
Fui aplicar em um projeto que utiliza reactstrap, mas toda vez que defino a linha:

`import { Form, Input } from "@rocketseat/unform";`

O console me lança esse erro:

Alguém sabe como resolvo isso?

[2019-05-14 01:29] diego3g commented on #12
@tmalexandre We're using just english in this repo, please translate the other comments or issues :)

Can you send the whole error trace? Including the files that originated the error?

[2019-05-14 01:34] tmalexandre commented on #12
Sorry, I'll write in English from now on. Here is the error image

![image](https://user-images.githubusercontent.com/50591193/57664592-39358680-75cf-11e9-889e-4c5691584ac2.png)

[2019-05-14 01:36] diego3g commented on #12
@tmalexandre Does it happens as soon as you import the library? Do you have any Form or Input elements defined inside your component?

[2019-05-14 01:39] tmalexandre commented on #12
**I'm posting a snippet of the code, I left it without render content because it is extensive**

import React from "react";

// reactstrap components
import {
  Button,
  Card,
  CardBody,
  FormGroup,
  Container,
  Row,
  Col,
  Collapse
} from "reactstrap";
// core components
import AuthHeader from "components/Headers/AuthHeader.jsx";

//Unform
import { Form, Input } from "@rocketseat/unform";

[2019-05-14 02:42] diego3g commented on #12
I need the render, please put the code inside http://gist.github.com

[2019-05-14 04:05] easychen opened #13 "got a warning when try select demo"
when copy & paste select demo and run it on react 16.8.2 , got a warning:

[code]

code

[code]

[2019-05-14 11:31] diego3g commented on #13
Can you try changing the onChange to `onChange={data => setValue(data)}`?

[2019-05-14 15:11] pellizzetti commented on #12
Closing since user deleted his account.

[2019-05-14 15:11] #12 closed

[2019-05-14 15:19] condini-mastheus opened #16 "Clear inputs after submit"
I have the following code:
[code]
How to I clear the input field after form submit?

[2019-05-14 15:41] diego3g opened #17 "[RFC] Reset form data"
There are many ways that we can provide for user to reset form data and clear all input fields, so the main discussion points here are:

- Should we reset form after submit automatically?
- How edit cases would work? Clear data or return to initial data?

My suggestion is to offer an helper inside `onSubmit` so user can reset data after submit like this:

[code]

Issue related: #16

[2019-05-14 15:42] diego3g commented on #16
For now, there is no way of doing that, i would really appreciate if we could discuss it inside #17

[2019-05-14 15:42] #16 closed

[2019-05-14 16:00] jpdemagalhaes commented on #17
I was thinking something like `clearOnSubmit` prop inside `<Form>`, but I like yours better.

Personally I think that the form should not reset automatically. We should either provide a prop like `clearOnSubmit` or a helper like you suggested.

Perhaps we should offer the option to pass the data inside `reset()`? So if you need to return the state to its initial data you'd do `reset(initialData)`,

[2019-05-14 16:05] diego3g commented on #17
@jpdemagalhaes Great!

The example would be something like an reset button (is it still used) inside the form near the submit. But i really think it's something we should not implement.

[2019-05-14 16:11] diego3g commented on #9
Hi @dudusotero, i'll close the issue since you'll probably take some time to test it, but feel free to reopen it :)

[2019-05-14 16:11] #9 closed

[2019-05-14 18:16] jpdemagalhaes commented on #17
Hmm, clearing a form with a button is possible with `<input type="reset" />`. It creates a button that when pressed clears all the inputs of the form, and when you have `defaultValue`, it returns to that state.

Which got me thinking. I feel like the only thing we should provide is `clearOnSubmit` prop, or like you suggested, a helper, which would be useful to reset the fields automatically after

[2019-05-14 18:18] diego3g commented on #17
@jpdemagalhaes Great, forgot about that! So let's keep with the helper idea, i think it's more readable and extendable as we are able to send params and have more helpers.

[2019-05-14 22:08] rfbezerra opened #20 "[RFC] Checkbox implementation"
Im thinking on the implementation of the checkbox functionality, and ended in this idea:
* work with an array of options, like select field
* options array will contain id and label (each option)
* getValue will return an array of checked ids

Well, let me know what you think about

[2019-05-14 22:42] diego3g commented on #20
Should we use the same component for checkbox and radio? I mean, something like select that we can have multiple or not.

[2019-05-14 22:56] diego3g opened #23 "Add commit linting"
Today, even with contribution guide, commits can have more than 50 characters in title and 72 columns in description.

We can add [Commitlint](https://commitlint.js.org/#/guides-local-setup?id=install-husky) with Husky to lint the commit message before commit reaches our Github.

We can also add it to [Travis](https://commitlint.js.org/#/guides-ci-setup) to double check any bypasses from developer

[2019-05-15 04:43] italoiz commented on #17
I was making an implementation to reset the data after sending, passing a `reset` property that could be three types of values, they are:

1. string `on-success`. _Only when the submission was successful._
2. string `on-error`. _Only when an error occurs on the form._
3. string `on-submit`. _In both cases above._

_I stopped the feature when I saw this discussion._

My idea was following the logic

[2019-05-15 07:00] easychen commented on #13
It works, the warning is gone. Thanks.

[2019-05-15 07:00] #13 closed

[2019-05-15 13:11] diego3g commented on #17
@italoiz Great! We are looking into it. I've got the same problem in Jest but i managed to do it, but got some other problems with custom and select element. I got only input and textarea working for now. I'll probably send one PR until the weekend.

[2019-05-15 13:45] pellizzetti commented on #23
@diego3g @jpdemagalhaes @aldroydzito

By default, `commitlint` comes with commit **types**. They are used to easily identify the kind of the commit. Example: `chore: run tests on travis ci`. We can see that `chore` is the type of that commit and the goal of the change.

That being said, I would like to ask: **Do you guys think we should use them?**

If we choose to use them, I thought the followin

[2019-05-15 13:50] jpdemagalhaes commented on #23
Seems fine to me, it allows for a more standard pattern over all the project. I think we should use them.

[2019-05-15 14:26] rfbezerra commented on #20
I thought about it, and make some sense.
One concern about it is when I have a single option and want a checkbox, like an "Accept terms...". In that option, Ill have a component with only one option with a _multiple_ property to allow checkbox.
Obviously, it is fully customizable.

Ill publish an PR with it soon and than we discuss more

[2019-05-15 16:15] diego3g commented on #23
It seems great to me!

[2019-05-15 19:26] rfbezerra commented on #20
PR #27

Some rules:
- returns for multiple selection (checkboxes) are _undefined_ or an _array_
- returns for single selection (radios) are _undefined_ or an _string_
- if only one option is specified, checkbox will be used
- labels are optional

[2019-05-16 16:57] korczas opened #31 "Validating array fields"
Hello,

I have been testing your lib for few hours and I really like it. On one of my projects we have a complex form builder which generates forms based on JSON. Lately we have some performance issue. Our bottle-neck is Formik, so I am looking for an alternative. I have recreated some code using unform, you can check it out here: https://codesandbox.io/embed/bold-hill-2ol405jn6r

I have encounter

[2019-05-16 17:05] diego3g commented on #31
Hi @korczas, great to know that you've been testing Unform.

So, can you provide me an easiest example to run? I mean by removing parts that are no important for the code to function and probably also removing the part about generating form and schema from JSON showing only the problem with array validation?

I tried to understand your example but there is too much info there.

Currently we does n

[2019-05-16 17:11] korczas commented on #31
there was some errors in code, I have fixed them, please check if it works now

[2019-05-16 17:30] diego3g commented on #31
Hi, the problem was with you createValidationSchema function and Scope inside render, i change it to:

[code]

And the Scope to:
[code]

And it worked:
![Screen Shot 2019-05-16 at 14 27 28](https://user-images.githubusercontent.com/2254731/57874484-12519d00-77e7-11e9-9706-aa975ec1b98e.png)

[2019-05-16 17:49] jpdemagalhaes commented on #11
This was solved in #14. I'll be closing this.

Thanks 😄

[2019-05-16 17:49] #11 closed

[2019-05-16 19:35] #17 closed

[2019-05-16 20:01] diego3g commented on #31
Closing since it seems to be solved! If you need further help please reopen the issue.

[2019-05-16 20:01] #31 closed

[2019-05-16 20:21] diego3g opened #32 "Add styled components integration docs"
Currently there is not documentation about Styled Components integration with Unform.

[2019-05-17 00:51] diego3g commented on #20
I was thinking about this issue and the way unform works now. Basically unform only supports having one `ref` per form element, but what if we supported multiple refs per element and then the result comes in one array?

We could pass something like:

[code]

Then Unform could translate this value to: `[1, 2, 3]`.

What do you think?

[2019-05-17 01:11] rfbezerra commented on #20
Well, in my opinion, the actual solution (only one ref) is better.
If we have to pass multiple refs, maybe we have to pass multiple path too.

Why not a getValue function like before or something like that?

[2019-05-17 01:30] diego3g commented on #20
With the actual implementation with `registerField` inside useEffect `getValue` was not returning the actual value of the element so instead of using it, we changed to this ref approach.

Accepting multiple refs doesn't need multiple paths tho, since all the refs can have the same path to value.

I don't know, but with refs we have zero rerenders in React, i like this approach.

[2019-05-17 13:48] diego3g opened #36 "Who's using Unform (add your project)"
We have nice projects using Unform already, it would be very cool to include a section inside this project with project links.

What do you think about?

[2019-05-17 13:55] fernando-pascoal opened #37 "Erro na captura da função resetForm"
Seguindo o tutorial para resetar o formulário após a submit, apresenta um erro. Segue abaixo o componente e em seguida o erro:

[code]

[code]

[2019-05-17 15:11] jpdemagalhaes commented on #37
Hey @fernando-pascoal, thanks for feedback. I ran the example from our docs and worked just fine.

Could you provide is with a codesandbox running your code so we can pin point your problem?

Also, we're using **english** as our main language here in this repo. If you could translate your original comment, that'd be neat!

[2019-05-17 15:18] #23 closed

[2019-05-17 15:35] diego3g commented on #20
What do you guys think about it? I mean by adding multiple refs to one form element, so checkbox component will look like this:
[code]
The main problem here is that every checkbox has a value, but they are not always selected, and we need to get the value only from selected ones, so `parseValue` couldn't do this job as he only receives the value itself, not the input reference.

Maybe `parseValue`

[2019-05-17 15:46] pellizzetti opened #40 "[skip ci] tag being ignored"
**Describe the bug**

It seems that `[skip ci]` is being ignored by Travis.

@diego3g @aldroydzito If you guys could take a look at it. <3

**To Reproduce**

Steps to reproduce the behavior:
1. Create a pull request using the `[skip ci]` tag in the title;
2. Watch as the build process still goes on.

**Expected behavior**

While using the `[skip ci]` tag in title of a pull request no build process

[2019-05-17 15:47] pellizzetti commented on #40
`[skip ci]` is specific to Travis, right? Would superb if it could stop the coverage process too. ❤️

[2019-05-17 16:45] diego3g commented on #40
@pellizzetti Travis builds are related to commits, not to pull requests itself, so, one pull request can have two commits, one running Travis, other not.

Coverall is dispatched from Travis, so if the CI didn't run, Coverall will also don't.

[2019-05-17 17:02] xbral opened #41 "Version 1.3.0 removing props"
In version 1.3.0, it is removing the form's properties, like the Id, and returning only a data-testid, losing all the stylization done.

[2019-05-17 17:39] diego3g opened #42 "[RFC] React Native Support"
**What would you like to be added**:

React Native support 🎉

**Why is this needed**:

Currently, Unform only works with web projects using ReactJS but a port to React Native could be created.

**Is your enhancement request related to a problem? Please describe.**

No.

**Additional context**

Unform can easily be integrated to React Native TextInput's as these components references also store the

[2019-05-17 17:58] pellizzetti commented on #40
Makes sense, closing this! 😄

[2019-05-17 17:58] #40 closed

[2019-05-17 18:21] pellizzetti commented on #36
Nice idea, but, IMHO, I think it's a tad early for that, no?

My say it's to probably wait for `skylab` to start being usable. When this happens we can include it ('cause `skylab` rocks) and `unform` will probably be more mature and more widespread, resulting in more awesome projects using it.

But anyway, my opinion is based on the fact that I don't remember/know of any projects using `unform`, i

[2019-05-17 19:02] cleitonper opened #43 "Use custom type instead object for submit handler"
**What would you like to be added**:

`unform/lib/Form.tsx`

make this changes

[code]

**Is your enhancement request related to a problem? Please describe.**

Typescript shows an error when we can try to access `data` parameter values with array syntax like this: `data[key]`. This occurs because `data` is typed with `object` type, and each value of object type has implicitly `any` type.

One way

[2019-05-17 19:29] cleitonper commented on #41
Aparently this issue was introduced in the commit [`a53d72b`](https://github.com/Rocketseat/unform/commit/a53d72b409cf6f1b886c8e60fe0fb13afce603fa#diff-9531e25902044f6bcd03b7d4b065fbc6), in the following lines:

[code]

Removing `FormHTMLAttributes` we're losing all html attributes like `id` and `className` passed to `Form` component. In my case, with the removal of the `className` attribute from

[2019-05-17 19:42] diego3g commented on #43
@cleitonper Great! Can you submit a PR with this implementation?

[2019-05-17 19:44] diego3g commented on #41
For `classes` the #35 will solve. Other attributes were removed from form since we're overriding onSubmit function and TypeScript was complaining about that. We'll take a look at it and see if we can take all back.

[2019-05-17 19:45] dudusotero commented on #42
But, could we begin some implementation without thinking outside TextInput's?

[2019-05-17 19:54] diego3g commented on #42
@dudusotero Yeah, support for TextInput can be easily implemented. Maybe someone here can take it and open a PR.

[2019-05-17 20:22] cleitonper commented on #43
@diego3g Of course! I'll submit it tonight.

[2019-05-17 20:38] dudusotero commented on #9
I finally get some time to do some tests, and now I was able to make docz works in a typescript project.
There are problems in some dependencies of docz, so we are able to do a workaround by adding [acorn@6.0.5](https://github.com/acornjs/acorn) to the project's dev dependencies.

Just run `yarn add acorn@6.0.5 -D` and all starts to work perfectly.

[2019-05-18 11:40] zaguiini commented on #43
Why not make it generic? What if it is a complex structure with arrays and stuff? I would do:

[code]

Also making `Context` a generic. What do you think?

[2019-05-18 11:42] zaguiini commented on #42
I personally don't think we should ship any inputs, only the interfaces to integrate the inputs as the user better desires. Sure, we might ship any logic to work with arrays and stuff, but apart from that everything is pretty much the same. Instead of shipping `x` components for `x` platforms, seems more practical/logical to ship only the base logic to implement one.

[2019-05-18 13:03] cleitonper commented on #43
@zaguiini nice! make use of the `Generics` is the correct solution for the `data` parameter, but instead of use a generic type in the `Props` we can use it in a separate function type. something like this:

[code]

and we can create our submit handler like this:

[code]

thanks for your tip. more suggestions are welcome.

[2019-05-18 13:46] imbitubadigital opened #47 "Preenchimento do Select, Textarea e Datapiker no Update"
Doing my first test, i realize  that the **Select** (simple e multiple) aren't marked with the value for  **initialData** in the update moment. Like how the values of **initialData** are not passed on **Textearea** and **Datapiker** loading the form for update. Any sugestion for how to fix it?

[2019-05-18 15:15] gabrielbuzziv opened #49 "Customize Input on Validation Error"
**What would you like to be added**:
Input customization when validation fail.

**Why is this needed**:
Cause this give us possibility of adding a custom style to the input when it is not valid.
For example: Change input `border-color` to RED

[2019-05-18 15:30] cleitonper commented on #43
PR #44 is ready to merge in order to solve this issue.

[2019-05-18 17:32] italomlp opened #51 "Clear value called infinitely times when useField with React Datepicker"
**Description of bug**

When I integrate Unform with React DatePicker and use the `resetForm` after submitting values, the `clearValue` of `registerField` is called infinitely times. Maybe caused by the use of the hook `useEffect` like in the example present in the docs.

**To Reproduce**

I wrote code very similar to the examples. But, here is a sandbox:
https://codesandbox.io/embed/currying-moon

[2019-05-19 17:06] italomlp commented on #42
I saw this discussion and I think that is not the responsibility of Unform to cares about date picker and other input types. So, my suggestion is to check if Unform is used in react native (or separate the files, like styled-components are), and so, provide properly components. For RN, only provides text Inputs (and Scope and Form too, as wrappers), and if the developer that is using Unform wants

[2019-05-19 17:37] zaguiini commented on #42
That's basically my suggestion :D A good one, I'd say!

[2019-05-19 18:11] italomlp commented on #42
@zaguiini yeah. I mean, I agree with you and guess that it is a good approach to achieve Unform in RN.

[2019-05-19 18:12] zaguiini commented on #42
Not only RN, but for DOM as well. Making it simpler we could cut scope and areas of maintenance. That could be an extensions repository with all the custom inputs and stuff.

[2019-05-19 20:41] jpdemagalhaes commented on #51
Nice catch!

Thanks for the suggestion also. I'll take a look into it and make sure that nothing else is needed.

[2019-05-19 22:24] marcelobarreto commented on #49
Hey, could I get this one or are your working on that? :smile:

[2019-05-19 23:43] marcelobarreto opened #53 "Pass a React component as prop to an input."
**What would you like to be added**:
Option to pass a React component as a prop

**Why is this needed**:
If I'm using a UI lib such as Material-UI, I could pass my custom component.

**Is your enhancement request related to a problem? Please describe.**
I guess no, maybe #49

I can get this one if you guys like the idea :smile:

[2019-05-20 00:37] diego3g commented on #53
@marcelobarreto Unform already exposes the `withField` API so you can use it to create your custom form element. I don't know if receiving a React Component as a prop is the best idea.

[2019-05-20 08:55] alexandreramosdev opened #55 "Translate README to pt-BR"
Olá @diego3g, I would like to know if I can do the translation of the README to have an i18n improve! What do you think?

[2019-05-20 09:13] marceloF5 commented on #53
@diego3g what is the best way for application that's already has input components been defined before?

[2019-05-20 11:20] anaalice-agcom opened #56 "Não da para usar esta biblioteca caso o projeto use o ant design"
**Description of bug**
Hi Diego, i'm using ant design library in my project and i'm needing use your library too, but ant design library  uses Input as a name like your project. How can i fix this conflict?

**To Reproduce**

**Expected behavior**

**Exception or Error**

<pre><code>

</code></pre>

**Screenshots**

**Environment:**

**Additional context**

[2019-05-20 11:39] diego3g commented on #53
@marceloF5 The `useField` API exposes full integration for every text input. The only requisite is that the element must have an easy way of access to its value using ref, and it needs also do be clearable by setting it value to empty or calling a function.

The "Custom elements" docs have more details about that.

[2019-05-20 11:40] diego3g commented on #55
@alexandreramosdev Hi Alexandre, we want to keep all issues and contributions to this repo in english so can you please translate the original message here?

We have thoughts about i18n but nothing decided yet. Maybe we could create an docs website instead of using only Github because here we have really poor support for i18n as new markdowns would be created for every language.

[2019-05-20 11:42] diego3g commented on #56
Hello @anaalice-agcom, we are using only english to contributions so please translate the original message.

You can import Unform Input with any name you want, like:

[code]

Also, i don't think it's a bug, just a documentation issue.

[2019-05-20 12:07] anaalice-agcom commented on #56
This should work. Thanks

[2019-05-20 12:08] diego3g commented on #56
I'll close the issue but feel free to reopen it if you face any problems :)

[2019-05-20 12:08] #56 closed

[2019-05-20 12:16] #37 closed

[2019-05-20 13:15] risoaldo opened #57 "Use react-input-mask and unform"
**Description of issue**
I'm trying use unform library, but i can't see a way to use react-input-mask too. Can i use unform with a className?

**Usage example**
`<InputMask  name="end_cep" mask="99999-999" maskChar="_" placeholder="Ex: 00000-000" className="ant-input" />`

[2019-05-20 15:03] risoaldo opened #58 "Cannot read property 'indexOf' of undefined"
**Description of bug**
I just put a Input and have an error

`<UnformInput className="ant-input" style={{ width: '90%' }} />`
**To Reproduce**

**Expected behavior**
Cannot read property 'indexOf' of undefined

**Exception or Error**

<pre><code>

</code></pre>

**Screenshots**
![2019-05-20](https://user-images.githubusercontent.com/21092692/58031586-163b3300-7af7-11e9-99b3-85bc76979d3f.png)

**En

[2019-05-20 15:23] diego3g commented on #58
Can you please provide an example of your code inside Code Sandbox? http://codesandbox.io

[2019-05-20 16:06] risoaldo commented on #58
https://codesandbox.io/embed/lucid-brown-olk23

[2019-05-20 16:23] diego3g commented on #58
@risoaldo Your example inside Code Sandbox is not working, it's missing dependencies and other parts of the code, can you take a look at it?

[2019-05-20 17:47] risoaldo commented on #58
The code involves many components, I'm just picking up a type of person and according to the type the form is displayed, when I change from PF to PJ it gives this error

![image](https://user-images.githubusercontent.com/21092692/58041280-172b8f00-7b0e-11e9-9213-c300176789f7.png)

[2019-05-20 18:49] rfbezerra commented on #20
Hi, I tried to put your idea in place
Can you check this [this branch](https://github.com/rfbezerra/unform/tree/feature/Multiple_refs_on_register_field) to see if it fits your idea?

I added multiple refs to a field and an optional method to extract value from refs (getValues).
I think that the parseValues have another context (maybe concat values to backend, convert strings to numbers, etc...)

p

[2019-05-20 19:06] diego3g opened #59 "Add new prop "multiline" to input and remove Textarea"
**What would you like to be added**:

Add a prop to Input:
[code]
And now it will act as a `textarea`.

**Why is this needed**:

Input and textarea are common elements, they both act the same way and we have redundant code between the two components.

**Is your enhancement request related to a problem? Please describe.**

No.

**Additional context**

React Native already do this way, so why not :)

[2019-05-20 19:15] dudusotero commented on #59
A Conditional render of a textarea instead of an input will be the solution for this?

[2019-05-20 19:16] jpdemagalhaes commented on #59
Sounds good to me!

I just took a look at the `Input.tsx` and `Textarea.tsx` files and they even have the same amount of lines 😄 .

Unifying this would be nice.

Could you make a PR about this @diego3g? I also agree with @dudusotero a simple conditional render would be enough I think.

[2019-05-20 19:21] pellizzetti commented on #59
Makes sense to me, they are pretty much the same. Let's remove this redundancy! 😄

[2019-05-20 19:25] diego3g commented on #59
@dudusotero Yeah, i'm working on that already! Sending a PR in a few minutes.

[2019-05-20 21:22] marceloF5 commented on #51
I also received the same error, but I was working with a simple custom input text.
I wrote a simple code here. https://codesandbox.io/s/wizardly-allen-46n68

[2019-05-20 22:00] marceloF5 commented on #51
My mistakes!! I got better the code and I made a correction in my code!

https://codesandbox.io/s/wizardly-allen-46n68

[2019-05-20 22:02] marceloF5 commented on #53
nice, tks @diego3g
I wrote a simple example here: https://codesandbox.io/s/wizardly-allen-46n68

[2019-05-21 01:25] cleitonper opened #61 "Use existing patterns to commits, versioning and changelog"
**Description of issue**

Currently we are using our own [`commiting`](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#commiting) rules. Instead of it, would be interesting make use of a popular pattern like [`conventional commits`](https://www.conventionalcommits.org/). It's based on the the `Angular convention` and quite similar to the pattern we are using.

In addition,

[2019-05-21 02:09] italomlp commented on #57
You can use it the same way React Select and React DatePicker, with the `useField` hook. See the `Custom components` section in the docs.

[2019-05-21 10:33] risoaldo commented on #58
To better understand, its just a simple form. I used unform in another foms and worked just fine, but in this one i did the same way and a had this error. I have two forms, one for juridic person and another for fisic person. The user has to choose who he is using a Select, and the form shows up. In fisic person (comes fisic person for default) form the unform works, but when i change to juridic p

[2019-05-21 10:40] risoaldo commented on #57
It's a great idea. Thanks

[2019-05-21 10:40] #57 closed

[2019-05-21 12:55] diego3g commented on #20
@rfbezerra Great! Maybe you can send a PR and we can discuss more about the implementation there?

[2019-05-21 12:59] diego3g commented on #53
Closing the issue, feel free to reopen it.

[2019-05-21 12:59] #53 closed

[2019-05-21 13:01] diego3g commented on #58
I can't figure out what's happening in your code without a code example, it can be many things. Can you please try to provide one working code example that i can see your code and it working?

[2019-05-21 13:32] jpdemagalhaes commented on #51
@italomlp I ran some tests on Unform and everything was working just fine, what really tricked me is that your codesandbox is crashing even if you do not submit the form.

I found that when you're registering the field, you're passing the wrong items inside `useEffect`.

[code]

You're passing `ref.current` and `registerField`. The correct ones are `ref.current` and `fieldName`. That is why your c

[2019-05-21 13:32] #51 closed

[2019-05-21 13:44] italomlp commented on #51
@jpdemagalhaes I'm passing `fieldName` and `registerField` like in the docs. But I agree that is can be an issue in the use of the `useEffect` hook.
By the way, if I use it as you described, ESLint give me some errors (in a `create-react-app` project):

[code]

So, we have to add the `// eslint-disable-line` to work? Is there a better way to make it without disabling eslint in this specific case?

[2019-05-21 13:46] #59 closed

[2019-05-21 14:02] italomlp commented on #51
Well, I think I got an older version of the docs or something like this. Sorry, my mistake. About eslint warning, I'll open a new issue. Thanks.

[2019-05-21 14:05] risoaldo commented on #58
Diego, here is an example of what is happening
When we choose Pessoa Juridica on the select, in the console shows the error message
https://codesandbox.io/s/optimistic-hooks-5fjv1

[2019-05-21 14:11] jpdemagalhaes commented on #58
@risoaldo in the `pjForm.js` you forgot to pass the `name` props to the `<UnformInput>`.

Therefore `unform` cannot register your fields. Adding the `name` prop to all fields fixes the problem. Can you verify this?

[2019-05-21 14:18] risoaldo commented on #58
That solved my problem. Thank you

[2019-05-21 14:18] #58 closed

[2019-05-21 16:57] lcnogueira commented on #49
I think this is a good idea. When I was creating the web app for the "unform challenge", I needed to style the error message with a red color. If we could pass something like a `styleError` object as a prop would be great.

[2019-05-21 17:26] lffg commented on #42
Maybe we can create a monorepo (as Babel and even React.js do) with two initial packages:

- packages/
  - `unform`
  - `unform-react-native`, which extends `unform` and adds other features.

To use in a React.js project (no breaking changes):

[code]

And in a React Native project:

[code]

[2019-05-21 17:31] dudusotero commented on #42
@lffg or can use something like [styled-components](https://github.com/styled-components/styled-components) do, using `import {} from 'styled-components` and `import {} from 'styled-components/native`

[2019-05-21 17:37] TiagoCunhaF commented on #59
@diego3g , não teria sido melhor, manter o componente Textarea, e apenas modificar o mesmo para chamar o input com o parâmetro multiline ? Pois dessa forma não quebraria a aplicação de quem já implementou usando o unform e utilizou o componente Textarea. (da mesma forma que no seu video, sua remoção quebrou testes já existentes)

[2019-05-21 17:44] rfbezerra opened #67 "resetForm behaviour"
**What would you like to be added**:
We have a resetForm method to be called after form submission. When this method is called, all fields will be cleared, even if default value supplied.
I think this behaviour is wrong if initialData supplied. I think the resetForm should set the initialData to fields.

**Why is this needed**:
Maybe, change this behaviour to reset fields to initialData and add an

[2019-05-21 17:48] Tabgyn commented on #20
About the name, how about we call Switch?

[2019-05-21 19:13] danilosales commented on #55
I suggest create others docs translated on folder translated, and in the README link to the doc translated.

[2019-05-22 00:53] iltonkp opened #69 "Contribution Guidelines link does not redirect to documentation"
**Description of issue**

Clicking the Contribution Guidelines link is not redirected to a session.

**Usage example**

Go to the github.com/rocketseat/unform link -> access the documentation in the Index section -> click the Contribution Guidelines link.

[2019-05-22 12:57] Ruttmann commented on #69
There's a small typo in the line 68 of the README.md.

Where you see:
`- [Contribution Guidelines](#contributing-guide)`

Should be:
`- [Contribution Guidelines](#contribution-guidelines)`

I'll create a PR to address this issue.

[2019-05-22 14:29] pellizzetti commented on #69
@iltonkp @Ruttmann Nice catch, If any of you guys want to open a PR, I'll be waiting. Thx 💟

[2019-05-22 16:47] pellizzetti commented on #67
Another approach is to allow some kind of flag to be passed to `resetForm`, like:

[code]
or, reusing `initialData`, maybe?

[code]

[2019-05-22 17:34] pellizzetti commented on #61
Our `commitlint` rules was tailored taking into account our needs and to be reused across every lib that we publish. Since `commitlint` rules are so simple and easy to set up I fail to see the point in switching. 😄

I had even read the linked `conventional commits` page and specs already, the one thing that caught my eye was:

[code]

Do you have any experience with this convention? I'm curious to

[2019-05-22 18:49] cleitonper commented on #61
No, i don't, but i think that's god for a open source project make use of a popular commit convention mainly because this convention is already known by many developers. it provides less of an entrance barrier for potential contributors.

___

To enforce the `conventional commits` rules we can use of the a sharable [`commitlint`](https://www.npmjs.com/package/@commitlint/cli) config: [`@commitlint

[2019-05-22 19:01] #43 closed

[2019-05-22 19:18] pellizzetti commented on #61
Thing is, both are pretty similar, the main differences are that ours is more strict (no warnings) and `types`.

Before commenting here and when I was creating our rules I went to check the rules that you linked, there's no mention of `breaking changes` so I'm gonna assume that they just don't truly enforce it.

---

As I said, I don't see any point in changing it.

But, we would love to receive P

[2019-05-22 22:05] #32 closed

[2019-05-23 02:00] leonardobrito commented on #47
Hi @imbitubadigital , we want to keep all issues and contributions to this repo in english so can you please translate the original message here? So that more people can participate in solving the problem. (:

[2019-05-23 02:07] jpdemagalhaes commented on #69
Closing this since it was done on #35

Thanks @iltonkp @Ruttmann ❤️

[2019-05-23 02:07] #69 closed

[2019-05-23 09:38] TiagoCunhaF opened #74 "Lost Textarea component after issue #59"
The componente Textarea was replaced to input with multiline attribute, but for this is not a good solution because this broken all applications was using Textarea component.
https://github.com/Rocketseat/unform/issues/59

In my opinion in this moment when de library is very new, its not a very big problem, but if I has multiple applications using unform and components has removed because other pe

[2019-05-23 12:28] jpdemagalhaes commented on #74
@TiagoCunhaF thanks for the suggestion! I agree with you, I'll be submitting a PR for this shortly. I was already working on it 😄

Thanks nonetheless ❤️

[2019-05-23 12:54] leonardobrito commented on #55
For docs website, maybe we can use [Docusaurus](https://docusaurus.io/), they allows easy translation and localization and the site can be host by [github pages](https://pages.github.com/). Sound good?

[2019-05-23 13:58] diego3g commented on #55
@leonardobrito Sounds great. We are using Docosaurus here: http://docs.rocketseat.dev

Repository: https://github.com/rocketseat/docs

[2019-05-23 13:59] #74 closed

[2019-05-23 15:00] italomlp opened #76 "Form main functionalities like get data may be exported too"
**What would you like to be added**:
Some functionalities may be exported from the form itself, like getting data outside the onSubmit, reset form outside onSubmit too, and so on.

**Why is this needed**:
I think that it is a good feature to introduce. Some developers want to control the form by its hand. So with this functionalities, they can control the form without the need to be in the on subm

[2019-05-23 15:10] italomlp commented on #67
I think that is not the responsibility of the developer to pass the initial data again to reset form. So, I like the first approach you suggested @pellizzetti. +1 for that

[2019-05-23 19:47] rfbezerra commented on #67
I agree with first approach, but with a property in Form component.
Maybe, a new _options_ object to specify things like that.

[2019-05-23 21:11] pellizzetti commented on #67
@rfbezerra Not a bad approach but, IMHO, having to set a option in `Form` to define this kind of behavior would surely reduce flexibility and make worse for users who want to resets to `initialData` or not conditionally.

[2019-05-23 22:06] leonardobrito commented on #55
Nice @diego3g , how to proceed with that? We have to send a pull request to [https://github.com/rocketseat/docs](https://github.com/rocketseat/docs) or unform will have his own repository/website of docs. Or is too early to do that. If possible i will like to contribute with that chore.

[2019-05-23 22:55] diego3g commented on #55
@leonardobrito I think Unform can have it's own documentation

[2019-05-24 13:07] diego3g opened #78 "Run lint-staged on tests and example files"
**What would you like to be added**:

Run lint-staged in tests and example folder.

**Why is this needed**:

People have different editors and configuration and sometimes Prettier is messing with those files and Pull Requests get rejected because of style guide.

**Is your enhancement request related to a problem? Please describe.**

Not a problem itself, but there are a lot of PR's with linting p

[2019-05-24 17:35] leonardobrito commented on #55
So the @rocketseat will create another repository for his documentation? With a docusaurus project.

[2019-05-24 18:13] diego3g commented on #55
@leonardobrito Maybe will be better if we have a docs folder inside the same repo.

[2019-05-24 23:12] alexandreramosdev commented on #55
@diego3g The Rockeatseat have the styleguide for create website doc do unform! I like about think that create website with Docosaurus in folder docs inside this repor.

[2019-05-25 01:54] petkovic43 opened #79 "focus cycle"
I would like to propose two new features, one indicating which should be the first field to receive the focus and the other indicating the next field where the focus should jump when the user press enter or tab. Thus, in the resetform the focus could return to the first field and cycle again

[2019-05-25 01:56] leonardobrito commented on #55
@alexandreramosdev i guess a folder named docs or documentation, like the example folder will be great. What do you folks think?

[2019-05-25 02:34] mmCodingjs commented on #55
I have seen others repositories and docs folder would be great.
Inside that folder we can create a readme for each language

[2019-05-25 03:36] leonardobrito commented on #55
If is okay for all, i can publish an PR with it soon, the folder docs with Docusaurus project and the initial documentation.

[2019-05-27 14:28] italoiz opened #81 "[RFC] Input type file support"
I noticed that the `Input` component does not register the values for `type="file"`. I think it would be interesting to add this feature to the library.

With that in mind, I thought of two ways to do this:

- Change the `Input` component to handle the` onChange` property.
- Create a new `FileInput` component just for this purpose.

Using any of the ways suggested above, we would have an answer li

[2019-05-27 15:29] italomlp commented on #78
I think that in some cases the configuration of the editor can change `*.md` files too (happened with me). So, I suggest adding a configuration in lint-staged to achieve this too.

[2019-05-27 17:10] diego3g commented on #81
Maybe instead of returning a base64 we could provide an way to return a [FormData](https://developer.mozilla.org/pt-BR/docs/Web/API/FormData) instead of an object in `handleSubmit` method as we already have full control over the object generated in [parseFormData](https://github.com/Rocketseat/unform/blob/master/lib/Form.tsx#L46) function.

The downside of this implementation is that the backend m

[2019-05-27 18:22] italoiz commented on #81
What if we were given the option to set the return type?

Example:

[code]

[2019-05-27 18:32] diego3g commented on #81
@italoiz Great! I think it's a start. Can you try to create a PR? Maybe we can wait more contributions too.

[2019-05-27 18:34] italoiz commented on #81
Good @diego3g, I'll do the PR today.

[2019-05-28 00:10] italoiz commented on #81
@diego3g

I have found problems to use the suggested solution using `FormData`, because in cases of nested properties like `<Scope path =" ... ">` does not work, because "FormData" does not accept values as objects.

When using "FormData" this is given as values, eg:
[code]

Are there any suggestions?

[2019-05-28 12:23] diego3g commented on #81
@italoiz Can you try using the base64 first and upload some image to a backend server to test it? I read about base64 and multipart form-data and i think we should use base64 only for now, the only limitations related to this type of upload is the size of upload, so we won't have problems with small uploads.

I also think that there are other approaches the user might like to use to upload images

[2019-05-28 17:29] SorEduard opened #83 "Add async function support in initialData prop"
**What would you like to be added**:

When I use other libraries like Formik, I have some trouble about async data, double loading (page loading using dynamic imports and data loading) is not a good approach for UX. Why not use a Promise resolve to get initialData?

**Why is this needed**:

I think about a simple function inside initialData prop like this:
[code]

**Additional context**

In typesc

[2019-05-29 00:45] italoiz commented on #83
@SorEduard It would not be a use case with state, as the example below:

[code]

[2019-05-29 02:24] SorEduard commented on #83
@italoiz Yes this approach work's, but cause flash in UI, why not solve data before render the form? I do not know if this is really necessary because there are innumerable methods to get data before route resolve, but in some libraries like apollo-graphql, this give a lot of difficulty to make, using prefetch before history.push, in SSR to. Thanks for reply.

[2019-05-29 12:56] diego3g commented on #83
@SorEduard I understand your thoughts but i don't think it's unform responsability wait for data to load, as the user may use many different types of loading like shimmer placeholders ([like this](https://cdn-images-1.medium.com/max/1600/0*s7uxK77a0FY43NLe.png)) or a loading indicator.

Maybe you should wrap the form with a conditional to render it only when you finish loading the data.

What do y

[2019-05-29 13:29] italoiz commented on #83
I think @diego3g is saying you could do something like this:

[code]

[2019-05-29 18:09] cleitonper commented on #36
I'm using `unform` in a project for resolution of linear equation systems. The project is running at [`linnear.netlify.com`](https://linnear.netlify.com/) and the source code can be found [`here`](https://github.com/cleitonper/linear).

The main `unform` feature used in this project is `initialData`. Thanks for that, I don't need to pass data for each `Input` in my dynamically generated  `Form`.

[2019-05-30 02:43] SorEduard commented on #83
@diego3g makes sense, was just a suggestion, the different approaches suggested would solve the issue well, thank you, closing.

[2019-05-30 02:43] #83 closed

[2019-05-30 18:15] #78 closed

[2019-06-01 03:13] garciawell commented on #57
@risoaldo
Example with library-input-input-mask.

Note: To clear the values ​​I needed to call the function "setInputValue" passing the value as null

Maybe we can add this example to the lib documentation, what do you think? @diego3g

`import React, { useRef, useEffect, useState } from "react";
import InputMask from "react-input-mask";

import { useField } from "../../../lib";

export default fun

[2019-06-01 18:40] MorenoMdz commented on #67
Just to confirm if I understood it, here when I call resetForm() it goes back to the initial values I have set, and you want to be able to check if it should reset to the initial data or no data, correct?

[2019-06-01 18:47] MorenoMdz opened #86 "Set the resetForm call as an element attribute"
**What would you like to be added:**
Set if the form is reset after submitting with a tag attribute as in this example:
[code]

This could be done by checking if the `resetForm` prop is present, it can also be used to handle issue #67 if that change is implemented by passing the props data to specify what time of reset is done.

**Why is this needed:**
It may be better semantic wise and you may ne

[2019-06-02 01:41] HigoRibeiro opened #87 "Additional documentation on how the schema works"
**Description of issue**
It's unclear on documentation that if you setting up the `schema` you'll need to write each field explicitly, even if some field is not required.

**Usage example**

[2019-06-02 07:26] PejmanNik opened #88 "Set errors from outside"
**What would you like to be added**:

Add setErrors function in the helper. it helps to set errors on submit.

**Why is this needed**:

Some time API returns validation errors after submitting data and we need to add each field related errors. (like unique validation)

[2019-06-04 01:56] victorhermes commented on #49
I think is a basic feature to handle and customize erros

[2019-06-04 15:53] emersonlaurentino opened #90 "Examples to React Hooks"
**Description of issue**

There are no example to React Hooks.

**Usage example**

Add some examples to React Hooks.

[2019-06-05 22:31] diego3g commented on #41
This issue will be solved by #77 and it will probably merge this week.

[2019-06-05 22:34] diego3g commented on #47
@imbitubadigital You should display the form with initialData only after loading that data, so, as soon as the loading is true do not mount the form inside the component. Your code would look like this:
[code]
TLDR: Do not render form before loading the initialData.

I'll close the issue for now but feel free to reopen it if you face any issues.

[2019-06-05 22:34] #47 closed

[2019-06-05 22:35] diego3g commented on #55
This issue is being treated in #80.

[2019-06-05 22:35] jpdemagalhaes commented on #49
@gabrielbuzziv thanks for the suggestion!

I think that adding a `has-error` class on the field solves this, what do you think about it? This class would be added automatically by unform when there's an error on the field, then you can style it however you want to.

Could you send us a PR?

[2019-06-05 22:37] diego3g commented on #61
@cleitonper @pellizzetti Guys, i'll close this issue for now as we are not having any new discussions, also, please feel free to reopen it if anything must still be discussed, and a PR with this implementation would be really appreciated.

[2019-06-05 22:37] #61 closed

[2019-06-05 22:46] diego3g commented on #76
I think it would be great. What do you have in mind, maybe using Render Props pattern like this?
[code]

Or maybe even better finding a way of using React Hooks to do this job, i didn't think about it but maybe something like:
[code]

[2019-06-05 22:47] jpdemagalhaes commented on #67
I think that we should follow @pellizzetti second suggestion, which will give the developers more flexibility to handle the reset how they see fit.

An example of this would be when the form is used to save user data, and you can call `resetForm` with the data that got returned by API, like this:

[code]

If one of you guys could submit a PR about this, we'd be happy to take a look ❤️

[2019-06-05 22:48] diego3g commented on #79
About the focus, did you try adding `autofocus` prop to input? Also, the focus order may be controlled by tabindex prop, did you try using that too?

[2019-06-05 22:52] diego3g commented on #87
@HigoRibeiro Can you provide the documentation for that?

[2019-06-05 22:55] jpdemagalhaes commented on #86
@MorenoMdz, I don't really get what's your use case here. It seems like you want to use one submit function for more than one `<Form>`, is this it?

If this is the case, I don't think that it's healthy to do that, things can get messy real quick. Either way, if you really need/want to do that, you could simply make a function that handles your submits and gets passed an argument to identify which

[2019-06-05 22:57] diego3g commented on #88
@PejmanNik So you need an easy way to set an input error manually from your component? If yes, then we'll discussing this here #76. I'll close this issue since we're probably talking about the same stuff here, can you complement the discussion with your necessity about `setError` function in the other issue?

Feel free to reopen it if you need to discuss anything more.

[2019-06-05 22:57] #88 closed

[2019-06-05 22:58] jpdemagalhaes commented on #90
@emersonlaurentino, I couldn't quite get what you're saying, could you describe a little better what you mean?

Unform uses hooks internally, and exposes `useField()` for usage, but there is already an example on our docs about it.

[2019-06-05 23:28] MorenoMdz commented on #86
Yes, the idea is in cases, yet rare, where you want to have a single submit method, it may be another way to specify that a form must be reset after submission. Also, it is semantically more explicit to have the reset call in the form declaration that in the JS code.

The idea is to have the form check if a resetForm prop is present and if it has any specific reset data to follow (which fields to

[2019-06-06 14:03] rfbezerra commented on #67
I'll try to make a PR with this things and we can talk over

[2019-06-06 14:35] PejmanNik commented on #76
I also need setError for setting API error. #88. but I think for that case add this method to submit helper function is just fine.

and about the setValue. I'm not sure my proposal is good or even isn't an anti-pattern. but:
we can pass a helper function object to Form component. then component fills it with self helper option. so parent component just can call that object function easily. like wh

[2019-06-06 14:50] diego3g commented on #86
@MorenoMdz I don't agree, i think resetForm by it's name is a function, not an attribute. We are adding more functionality to resetForm (as you can see here #67) and bringing it as an attribute will loose all of it flexibility.

[2019-06-06 14:57] MorenoMdz commented on #86
While I understand the naming as a verb is more suit for a function, names can be changed of course, it should not lose flexibility as in the same way we pass an object to specify the initial values an object could also be passed to tell the form how it should handle the reset.

Either way, I feel the proposals from #67 have priority. Thanks.

[2019-06-06 17:01] emersonlaurentino commented on #90
@jpdemagalhaes I thought one of his features would be to use hooks. So I asked for more examples of how to use it with hooks. Since I understood that it was created with hooks and not that it can be used with one, it does not make sense that issue.

[2019-06-06 18:05] MorenoMdz commented on #86
I will close this one, for now, I may bring it later in the future as and if more use cases appear.

"Keep your minds open to only then make something that's truly new."

[2019-06-06 18:05] #86 closed

[2019-06-06 18:07] jpdemagalhaes commented on #90
No problem! Just a quick heads up we expose `useField` which is a Hook, this is used to create custom types of fields that do not come along with Unform. You can check that out [here.](https://github.com/Rocketseat/unform#custom-elements)

I'll be closing this issue then! But feel free to reopen this one or open another one ❤️

[2019-06-06 18:07] #90 closed

[2019-06-06 18:10] jpdemagalhaes commented on #87
Closing this issue since it was done on #92.

[2019-06-06 18:10] #87 closed

[2019-06-06 19:25] xbral opened #93 "Function components cannot be given refs"
When I try to reference a function component it returns: Function components can not be given refs. Attempts to access this ref will fail.

The component used was:
[code]

[2019-06-07 00:47] victorhermes opened #95 "Input multiline does not recive state"
Not reported!

**Description of bug**
I was using componentWillReceiveProps(nextProps) to get the currently prop and using setState to add the prop to a state. So, I could to call the state and set the initialData with this state and show to user the text into the input. This was good! The text appeared in the Input, but not in the Input with multiline, so when I removed the multiline property, th

[2019-06-07 11:27] pellizzetti commented on #81
Closed in #82

[2019-06-07 11:27] #81 closed

[2019-06-10 05:52] VilsonJrCorrea commented on #95
Hey brother, have you tried something like that in the props of component Input? `value={initialData.description}`

[2019-06-10 13:35] victorhermes commented on #95
@VilsonJrCorrea It worked. Thank u!

[2019-06-10 13:35] #95 closed

[2019-06-11 13:31] arthurdenner commented on #95
@victorhermes, in case you don't understand *why* you need to pass the `value` prop here, here are the concepts of [controlled](https://reactjs.org/docs/forms.html#controlled-components) and [uncontrolled components](https://reactjs.org/docs/uncontrolled-components.html).

[2019-06-12 11:51] diego3g commented on #93
Hi @xbral, not every component supports `ref` but it's not a problem with Unform itself, maybe Material UI is not forwarding the ref to the input element inside `KeyboardDatePicker`. As you can see here, there is no ref property (https://material-ui-pickers.dev/api/KeyboardDatePicker).

The same documentation is saying that `Any prop not recognized by the pickers and their sub-components are passe

[2019-06-12 12:36] #41 closed

[2019-06-12 14:18] xbral commented on #93
Great... I'll do that now... tks...

[2019-06-12 14:18] #93 closed

[2019-06-12 14:21] jeancabral commented on #20
OMG! All that I need. When will this be released?

[2019-06-12 23:33] leonardofernandescosta opened #101 "RegexPatterns embedded on input"
**What would you like to be added**:

A new prop that will add some pre-set regex validtion to input.

**Why is this needed**:

Validate input is a major thing in forms. It would be nice to have some pre-set patterns for the developer to choose, without having to code it.

**Additional context**

Something like:  `<Input patternCep></Input>`

patternCep looks like: [0-9]{5}-[\d]{3}

[2019-06-13 01:40] jpdemagalhaes commented on #101
Hi @leonardofernandescosta thanks for the suggestion!

Unform isn't and should not be responsible for validation itself, we use `Yup` for that, meaning that all of our validations should occur through `Yup`. You can check some examples [here](https://github.com/Rocketseat/unform#validation).

Also, on one note, Unform is meant to be a universal library, which makes all validation extremely persona

[2019-06-13 01:40] #101 closed

[2019-06-13 13:58] douglaszaltron commented on #42
+1

[2019-06-14 18:50] zaguiini opened #103 "Usage example/Demo"
**What would you like to be added**:

It would be really nice if we could provide a demonstration of the package usage, with the code, preferentially at Code Sandbox. It would be a quick way to show what unform is all about and how it works.

It's really cool to show a few snippets on the README, but it would be more attractive to show them in real time, in a little project.

**Why is this needed*

[2019-06-17 20:55] berteruan opened #104 "Scroll to first invalid element"
**What would you like to be added**:
 Scroll to first invalid form element when form is submitted

**Why is this needed**:
In large forms it is common the first fields are hidden when we submit the form, so that the user does not see the error.

**Is your enhancement request related to a problem? Please describe.**
No.

**Additional context**

[2019-06-20 13:05] zaguiini commented on #104
I don't think that adding this would be a good idea because it's very specific.
A good idea would be "add hooks" to validation. For example:

[code]

[2019-06-20 21:20] converge opened #106 "Regarding validation error message position"
**Description of issue**

I'm not able to position the <span>Yup validation error message</span>

**Usage example**
This is an <Input> element:
[code]

And I'm using this validation for the username field:
[code]
The validation is called when the `username` field is empty and the message `Username is required` show up just after the `<Input>` field. After the validation message is called this is w

[2019-06-21 00:23] converge commented on #36
I wrote a tutorial using React, Hooks, UnForm, and Cypress:

https://joaovanzuita.me/blog/react-js-unform-validations-and-cypress-io-tests

[2019-06-21 11:30] Fagneregomes commented on #103
I agree.

[2019-06-24 08:03] PejmanNik commented on #51
I think we are ignoring hooks rule here. we don't need to add `ref.current` and `registerField` must be added as a dependency.
please reopen the issue.

[2019-06-24 20:43] 130591 commented on #103
It is very common this type example, and also fast to implement, but would have to do with Diego as we should proceed.

[2019-06-28 13:02] xbral opened #108 "Auto Save on blur"
Auto Save on blur, select or check

An option to set Form with prop autoSave and when this props was seted the form will save automatically when the user blur the input or select an option

[2019-07-03 12:49] converge commented on #108
It's a nice approach, but I believe this is a non-trivial case, and it would require a backend implementation to handle with the API call the onBlur would send. Does it make sense?

[2019-07-04 14:36] Fagneregomes opened #109 "Loss of properties when using styled-component"
**Description of bug**
When transforming component into a styled-component it loses properties as the type.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a styled-component with the input type unform
ex:
[code]
2. import or component
3. try changing the type to number
4. See error

**Expected behavior**

list all properties

[2019-07-16 18:43] dope commented on #108
I'm not sure its something that would be heavily needed but you could just store this with `localStorage`.

[2019-07-16 21:44] diego3g commented on #103
Great! I'll try adding some Code Sandboxes to README

[2019-07-16 21:48] diego3g commented on #106
Hi @converge, where do you want to show the message? If it's like above the input you can use `order` property from CSS with `display: flex` around the input and the error to achieve that.

Do you have any suggestions about position options we could give to the user?

[2019-07-16 21:50] diego3g commented on #108
@xbral Please, use the issue templates for the next issues :)

I think the best approach in this case is if you extend unform Input and add some onBlur functionality to it, every unform input is a HTML input and it can receives all HTML properties like onBlur so you can add your own functionality to it.

[2019-07-16 21:51] diego3g commented on #109
Hi @Fagneregomes, can you provide us a code sandbox demonstrating the code?

[2019-07-17 15:57] xbral commented on #108
Sorry @diego3g

Great. I'll try, and the option to use localStorage is cool. I will use these two ideas together.

[2019-07-17 15:57] #108 closed

[2019-07-17 18:41] converge commented on #106
I'm used to work with Formik approach, and it's quite nice:
[code]
You have this ErrorMessage component, in this way, we're free for positioning the error message/element anywhere, just referencing it by name.

What are your thoughts?

[2019-07-18 22:39] diego3g commented on #106
@converge I think it would be good if you could give us a real example showing where you want to put error messages.

I know Formik is very elastic as it exposes API's for almost everything, but each of these components need to listen to input changes so many renders are executed in background.

The main focus of unform is to be performatic so we need to study it limitations and see if we can add

[2019-07-19 12:04] converge opened #113 "Discord channel"
**What would you like to be added**:

Let's create a Discord channel for the project? We could have it on Rocketseat Discord server I believe.

**Why is this needed**:

Questions and Answers community channel.

[2019-07-26 17:09] diego3g commented on #113
Hi @converge, good idea! i'll think about creating it inside Rocketseat server or about creating a new server.

[2019-07-27 23:27] joaogn opened #116 "Select does not change initialState when rendering again."
**Description of bug**

Select does not change initialState when rendering again.

**To Reproduce**

1. I will make the first render, set the initialState.
2. When rendering, input and selects are set to initialState.
3. Changing the first select changes the react states.
4. When changing states react will again render input changes to new states but selects do not change.

**Screenshots**

[2019-07-28 00:23] joaogn commented on #106
I think I could pass one or more className to span through the parent input. It is possible?I think I could pass one or more className to span through the parent input. It is possible?

[2019-07-28 02:00] emilioheinz commented on #51
I think the best solution is adding a `if` before call the `registerField` function.

[code]

I think we need to improve the docs with that because the infinity render still happening without the `if` condition.

[2019-07-28 14:03] emilioheinz opened #117 "Infinite render on DatePicker example, when using eslint and prettier."
**Description of issue**

When I copy and paste the example of the documentation of DatePicker it render infinitely times, this bug do the browser use a lot of memory and after some time crash.

That bug happened because of my eslint + prettier config, both changed my useEffect dependencies to `[fieldName, registerField]` but the right one are `[ref.current, fieldName]`.

I solved the issue adding

[2019-07-29 16:03] diego3g commented on #106
@joaogn Today we don't supporting passing any props to error span, but we're welcome to receive contributions.

[2019-07-29 16:05] diego3g commented on #51
@PejmanNik If we use `registerField` inside hook dependencies then it executes infinitely, if you have any thoughts why this is happening please feel free to open a Pull Request. At least for now, even the rules of hooks saying about it dependencies, we'll keep this format that is the only format we got it working right now.

[2019-07-29 16:07] diego3g commented on #117
Great @emilioheinz, we're investigating problems regarding the hooks rules inside ESLint. I think that for now we should only add one line inside the custom elements documentation here inside Github. Can you open a Pull Request adding the instructions for users to disable ESLint verification in that line?

[2019-07-29 16:51] emilioheinz commented on #117
Yess I can, I'll do it and open a pull request.

[2019-07-29 23:09] diego3g opened #118 "[RFC] New Unform API"
## Main problem

Unform was released some months ago and we're receiving a lot of feature suggestions that can't be implemented with the current Unform API.

Example: If we want to set an input value programatically it's not possible. If we want to get/set an error message programatically it's not possible. If we want to use any form data outside the onSubmit function, it's not possible.

Due to t

[2019-07-30 10:55] joaogn commented on #116
I've been thinking, I had a problem updating props, the component didn't reload, so I forced reloading by componentWillReceiveProps (), maybe that wouldn't solve this problem? I just don't know how to approach this using the hooks.

[2019-07-30 12:20] italomlp commented on #118
I think that initially, while we migrating, we should keep both approaches (if possible, of course), and deprecate the older way, to remove in next version.

And, I think that we can pass the `onSubmit` to the side of `initialValues` place too, keeping all together (again, if possible, I didn't get the code, so I don't know if it's worth it). So, in the `<Form />` tag, we only pass the ref, and al

[2019-07-30 13:48] diego3g commented on #118
@italomlp This approach will help us with React Native version that you were developing. Something like this:
[code]

[2019-07-31 11:38] italomlp commented on #118
@diego3g exactly! Do you already start to implement something or are waiting for more comments?

[2019-07-31 13:20] diego3g commented on #118
@italomlp I'm giving some time so we can have a little bit more discussion over it and then i'll start implementing it, but i already did a test and it's possible to achieve what we're trying to todo with this API.

[2019-07-31 14:48] italomlp commented on #118
@diego3g great! I will follow this issue and comments and if you need help to implement it, you can count on me. Also, I think that I'll wait for this API be done to end the implementation of React Native support.

[2019-08-01 23:47] leoferreiralima opened #122 "Mask for Input text"
**What would you like to be added**:
Mask for Input text

**Why is this needed**:

To make easier and more beautiful for user add phone, email,cpf,cep or any other information that need a mask without need external libs.
The idea is add a new prop for input text name mask,this props will receive a string like "999.999.999-99" so when user add the information will be formatted with the mask.A examp

[2019-08-05 21:02] diego3g commented on #122
I think unform should not implement masks itself but we could have a documentation about how to implement it with some third-party library. Are you using any library for react masks ou recommend one?

[2019-08-06 13:21] DanielDavidDev opened #124 "Add new prop 'method' to form"
**What would you like to be added**:

Adding a prop to form:

[code]
And now the prop method, will have api requests directly saying which method will be used.

**Why is this needed**:

Because it's more interesting for the passage of sensitive data.

**Is your enhancement request related to a problem? Please describe.**

No.

**Additional context**

HTML already do this way, so why not :)

[2019-08-06 13:55] diego3g commented on #124
@DanielDavidDev As default, our form accepts all of default properties of HTML form.

[2019-08-06 14:23] DanielDavidDev commented on #124
Would it be more user friendly to have your sensitive data encrypted? By going through onSubmit because by going through `console.log` you can view the data that is passed to the request.

[2019-08-06 15:12] diego3g commented on #124
There is no way to hide all the data as the data is on front-end. And it should not be a problem.

[2019-08-06 15:29] DanielDavidDev commented on #124
Got it, so I'll discard this issue, sorry for the inconvenience.

[2019-08-06 15:29] #124 closed

[2019-08-09 02:33] #67 closed

[2019-08-12 17:44] judsonjuniorr opened #125 "Not setting react-select default value"
**Description of bug**

When passing default value id the select field doesn't change

**To Reproduce**

1. Change the select and save the value on localStorage
2. Refresh the page and set the localStorage as form initialData

**Screenshots**

Form field
[code]

Select component
[code]

![React-select bug](https://i.imgur.com/V3QsXCg.png)

**Environment:**

 - OS: Windows 10
 - Browser Chrome (76.

[2019-08-13 18:47] diego3g commented on #125
Will check it, thanks for the contribution

[2019-08-14 12:25] #117 closed

[2019-08-18 02:19] brendonguedes commented on #55
O próprio Google, acredito que outros navegadores também permitam, que o usuário adicione uma extensão para tradução automática de outras línguas, como inglês para português brasileiro.

Basta acessar as configurações para adicionar a extensão.

[2019-08-21 01:06] linconkusunoki commented on #109
Hello @diego3g I'm facing the same problem, here is the [codesandbox](https://codesandbox.io/s/empty-sky-pmell)

[2019-08-21 13:20] jpdemagalhaes commented on #109
@linconkusunoki I just checked your sandbox, and it is missing a `name` prop so we can register the field, that is why you're running into an error.

I've forked your sandbox, providing the correct fixes:

https://codesandbox.io/s/agitated-water-xd287

[2019-08-21 13:27] linconkusunoki commented on #109
@jpdemagalhaes oh... I did not realize this error, yet I think it's a good idea return a better error message in this case. I also have added the type="number" to test the original error and its working properly

[2019-08-25 10:54] lookfirst commented on #118
`setValue('street'...)` is hard to make typesafe. It would be nice to connect the two.

Supporting async behavior is great.

[2019-08-26 01:50] murilokaos opened #127 "In Choice example, this component not imported in under scope"
**In the example for using multiple Choice values, the Choice component is not imported in scope. Apparently, the example was based on the previous example, FileInput, and the import of FileInput was left and the import of Choice was missing.**

**If someone who comes to the documentation as an example to use this option, and the same, is not used to understanding the error stacktrace that will ge

[2019-08-26 02:08] jpdemagalhaes commented on #127
Hey @murilokaos thanks for pointing that out 😄

Could you make a PR fixing this?

[2019-08-27 16:43] rvieceli opened #129 "InitialData does not work with TextArea (Input multiline)"
**Description of bug**
When passing inicialData object, all inputs are filled, except textinput

**To Reproduce**
[code]

The result: textarea does not have the value
![image](https://user-images.githubusercontent.com/2790845/63790195-31c09180-c8cf-11e9-8ec1-6b4f03718f05.png)

**Expected behavior**
Textarea with value of the inicialData
![image](https://user-images.githubusercontent.com/2790845/63

[2019-08-27 17:29] ricardo85x opened #130 "How does schema works when using custom field"
How does schema works when using custom field

the 'error' on userField does not seems to catch the validation message.

[2019-09-05 01:01] PierreBosch opened #131 "Attempted import error: 'Choice' is not exported from '@rocketseat/unform'."
The option Choice does not appear on import, nor does autofill

[2019-09-05 16:48] ROiPinheiro commented on #131
"Attempted import error: 'Choice' is not exported from '@rocketseat/unform'."

[2019-09-06 12:11] meneman commented on #116
Hi, I've been struggling with the same problem. Changing the initialdata property on Form does not rerender the select inputs.
Does anyone have an update on that?

Shouldnt a change to initialData just rerender the whole form?

[2019-09-16 00:45] carvalhoviniciusluiz commented on #122
It would be amazing to be able to format the string if necessary. In parallel to [vue-the-mask](https://vuejs-tips.github.io/vue-the-mask/), unform could support or allow customizing the value with some kind of lib [react-input-mask](https://www.npmjs.com/package/react-input-mask).

I wish I could mask the form inputs, how do you do that?

[2019-09-17 16:32] DeeSouza commented on #51
I solved my problem from infinite loop removing function `registerField()` from array dependencies.

[2019-09-19 02:36] fauker commented on #131
Same here 👍

`Attempted import error: 'Choice' is not exported from '@rocketseat/unform'.`

[2019-09-19 18:14] DeeSouza opened #133 "The resetForm() function don't work when Form is a component inside another component?"
**Description of bug**

The `resetForm()` function don't work when the Form from unForm is a component inside another component. Example below:

[code]

[code]

And inside this component `FormMeet` have a `Form `of **unForm**.

**Screenshots**

![image](https://user-images.githubusercontent.com/12430887/65269731-28060480-daf0-11e9-8bf9-13b3fcc6fb64.png)

[2019-09-22 21:05] avitorio commented on #129
I'm getting the same error on OSX, Chrome.

[2019-09-24 11:06] e3duardo opened #134 "Submit outside form element"
Hi!
I want to put a submit button outside a form element, what the better way to achieve that?
I tried use ref in the form with no success.

[2019-09-25 08:20] BohdanK911 commented on #131
Same error!

[2019-09-25 15:52] nomgains commented on #131
Any update on this?

[2019-09-26 18:14] xbral commented on #36
I'm wearing the unform on a project login page for my company's resume application. The project is running on: vagas.unimedvarginha.coop.br

[2019-09-26 18:31] denisprado opened #135 "Multiple Files Upload with InputFile"
**Description of bug**

When I upload multiple files with FileInput component, the file-data atribute get only one base64 file.

**To Reproduce**
I have used the component as follow:
[code]

**Expected behavior**

I expected several files to be uploaded and this would allow proper formatting with FormData.

**Screenshots**

![Captura de tela 2019-09-26 15 22 20](https://user-images.githubuserconte

[2019-09-26 18:31] lukemorales commented on #134
@e3duardo you can do that with the properties HTML5 provides to forms, no extra JS needed to do this: you simply set an id to your form, and reference that form on your button like this:

[code]

[2019-09-26 18:46] jpdemagalhaes commented on #134
I'll be closing this @e3duardo as it seems that @lukemorales proposed a solution!

But feel free to reopen this issue in case you feel like we missed something ❤️

[2019-09-26 18:46] #134 closed

[2019-09-26 21:12] jpedroschmitz commented on #131
Hey guys, sorry for taking so long to answer. We were working on version 1.6.0, which would add the Choice and Check component, and the good news is that is was released now on #136 🎉

If you need to use these components, do not forget to update unform to the latest version. You can achieve it by running `yarn upgrade unform@1.6.1` 🚀

As the problem was solved, I am closing this issue now. If you

[2019-09-26 21:12] #131 closed

[2019-09-26 21:56] jpedroschmitz commented on #133
@DeeSouza, actually, it is not possible to have a form inside another form. It goes against [W3C specification](https://html.spec.whatwg.org/multipage/forms.html#the-form-element).

As it is not a problem with unform itself, I am closing this issue 💜

[2019-09-26 21:56] #133 closed

[2019-09-27 12:06] jpedroschmitz commented on #113
Hey @converge, we have created a #open-source channel in our [Discord community](https://discordapp.com/invite/gCRAFhc). There we can talk about Unform, propose new features and fill some doubts/questions 💜

[2019-09-27 12:06] #113 closed

[2019-09-27 12:13] jpedroschmitz commented on #127
Hey @murilokaos, how are you?
We have updated the docs on #136 and #132. Thanks for pointing that out 💜

[2019-09-27 12:13] #127 closed

[2019-09-27 16:04] jpedroschmitz commented on #20
@jeancabral, it was released yesterday, in v1.6.1  🎉  If you want to use, do not forget to upgrade to the correct version. I am also closing this issue due to the fact it was merged in #110.

[2019-09-27 16:04] #20 closed

[2019-09-27 16:12] jpedroschmitz commented on #79
I'll be closing this @petkovic43 as it seems that @diego3g  proposed a solution and to expand on that, unform IMO should not be responsible for that, it's easy enough to do it with HTML5 alone.

But feel free to reopen this issue in case you feel like we missed something ❤️

[2019-09-27 16:12] #79 closed

[2019-09-27 17:08] jpedroschmitz commented on #55
Hey guys, we have decided now to keep our efforts on the Unform API, so the docs will keep in English. As the project grows, we are going to focus on i18n. As we finish it we will create new docs where you all can contribute (in any language). We really appreciate your efforts in making this happen 💜

[2019-09-27 17:08] #55 closed

[2019-09-27 17:19] jpedroschmitz commented on #109
I'll be closing this @Fagneregomes as it seems that @jpdemagalhaes solved the problem.

But feel free to reopen this issue in case you feel like we missed something ❤️

[2019-09-27 17:19] #109 closed

[2019-10-04 01:12] SereiaMaster opened #146 "Input Focus"
I'm not getting input focus
I'm trying to implement this hook that is in the official React documentation.

[code]

[2019-10-10 10:48] WitchMad commented on #135
Did you tested without "multiple" config?
That could show us if something else is wrong

[2019-10-10 17:42] emilioheinz commented on #146
Please format your code using

![image](https://user-images.githubusercontent.com/47385105/66592801-28804100-eb6c-11e9-8012-440d7c4f8029.png)

I'm not able to edit your issue, sorry.

[2019-10-10 19:55] SereiaMaster commented on #146
Updated.
It's the React Documentation code ... I put the ref on Input inside the Form component

[2019-10-12 01:49] Artenes commented on #129
Same thing here on Windows 7 and Chrome Versão 77.0.3865.90 64 bits

[2019-10-15 18:54] JonathanVeg opened #147 "Environment missing"
**Description of issue**

I forked the project for creating a small update (the ability to add an element inside each `Choice` block of `input` and `label`. But I can not run the tests and the documentation does not give me all information needed to setup everything needed to do that.

[2019-10-16 14:52] zaguiini opened #149 "Reinitialize form data"
**What would you like to be added**:

I'd like to have the possibility of restarting the form from outside the submit handler.

**Why is this needed**:

Because sometimes you want to reset or change the values of the form without submitting it.

**Additional context**

Formik already does that with the `enableReinitialize` prop that detects changes on `initialValues` (our `initialData`). We could

[2019-10-16 14:53] zaguiini commented on #103
Bump.

[2019-10-18 16:09] bsmayer commented on #106
I'm missing that as well. Unform is rich on making our lives simple while creating forms, but poor on error customisation. Not all forms can display errors using <span>, and that's when things get complicated. While having error handling automatically done by the library is good in many situations, there are others that are not really positive.

It might be a good idea to have a way to tell Unform

[2019-10-21 17:49] EduardoAraujoB opened #151 "useField in a infinity loop with the React useRef"
**Description of bug**

I've a problem to chage a value in the useField method of unform with the React useRef and the useEffect hook

**To Reproduce**

1 - Create a component an atrribute to an input the ref of the React
2 - Use the registerField method of unform useField ant try to change your value in a useEffect hook
3 - Start the project an open the console, now you will see that the componen

[2019-10-21 17:53] jpdemagalhaes commented on #151
Hey @EduardoAraujoB

Your problem is happening because you're telling `useEffect` to listen to the wrong variables.

As it states on our documentation [here](https://github.com/Rocketseat/unform#custom-elements) the correct usage for a custom element is:

[code]

I'll be closing this issue since this problem is not related to Unform per se. But if you feel like we missed something, feel free to re

[2019-10-21 17:53] #151 closed

[2019-10-21 19:37] EduardoAraujoB commented on #151
hey @jpdemagalhaes , i updated my code, but i can't submit my form because i recive the follow error:

![image](https://user-images.githubusercontent.com/42449213/67236368-868c0e80-f41f-11e9-989d-fdff4dc97518.png)

parent component:
https://cl1p.net/parentcomponent

child component:
https://cl1p.net/childcomponent

Is it a problem with unform or i'm usingit the wrong way?

Obs: I use this site to

[2019-10-22 17:48] EduardoAraujoB opened #152 "Problem to submit a form with a custom element"
**Description of bug**

I think that the form has to be submitted, but i don't know if i'm forgetting something, so is it a problem of the uniform or i'm using it at the wrong way?

**To Reproduce**

1 - Create a form with unform and a custom element as a child
2 - Create a file input with the useField in the child component
3 - Try to submit it

**Expected behavior**

I think that the form has to

[2019-10-24 19:08] xbral commented on #104
@berteruan Você conseguiu implementar algo para esta funcionalidade?

[2019-10-28 17:47] beatriz-evocorp commented on #122
This worked perfectly.

[code]

[2019-10-28 17:48] beatrizf13 commented on #122
This worked perfectly.

[code]

[2019-10-31 17:35] DeeSouza commented on #133
I don't undestand very well what you say about this.
I don't have `form` inside of another `form`. Don't said this.

I said that o `Form` of `unForm` is inside of another component and not that a `Form` is inside of another `Form.`

[2019-11-06 09:43] Natanniel commented on #122
@beatrizf13 Serious O.O ? Let's use

[2019-11-06 11:10] carvalhoviniciusluiz commented on #122
For some cases react-input-mask are not applicable, for example using the disabled attribute in the field, this causes an error.

[2019-11-10 17:34] santospatrick commented on #122
@beatrizf13 any ideas of an easy way to unmask on `onSubmit`?

[2019-11-10 21:46] santospatrick commented on #57
this example does not work when form has `initialData prop`

[2019-11-10 21:47] santospatrick commented on #57
@garciawell your example does not work when form has `initialData` prop (when form data needs to be fullfilled by an async call)

[2019-11-15 12:48] julianosirtori commented on #12
I had same error, I forgot to put name in element Input

[2019-11-18 03:47] Davidiasdesousa opened #157 "Input not update value when changed"
When I click on an input and make a change, the value is fixed to the 'value' attribute.

**To Reproduce**

https://prnt.sc/pycd6x

https://prnt.sc/pycdcl

**Environment:**

 - OS:  Windows 10
 - Browser Chrome Versão 78.0.3904.97 (Versão oficial) 64 bits)

[2019-11-18 19:20] rserafim commented on #106
Tbm estou com problemas para usá-lo no theme Argon, pois o erro é inserido numa div.

[2019-11-20 13:53] akx opened #158 "Render props?"
**What would you like to be added**:

Some sort of render props support for all basic field types to customize their rendering without having to deal with all of that `registerField()` boilerplate in custom components.

**Why is this needed**:

I'm using [`react-bootstrap` forms](https://react-bootstrap.netlify.com/components/forms/#forms) and as you may know, Bootstrap requires some wrapping for

[2019-11-27 11:00] leandrofinger opened #159 "Handling errors after schema"
**Description of issue**

So many times I faced form not been submitted when using Schema because I made a mistake with field names or something like that. Is there any way to catch all the Yup errors in the Form component?

**Usage example**

[code]

**UPDATE**
It also could be a debug flag, that prints in the console a message with all validation errors.
[code]

[2019-11-28 02:06] Lekha30 opened #160 "Integration with Material-UI"
**What would you like to be added**:

Is there an idea to integrate with MAterial-UI library

**Why is this needed**:

Since MAterial-UI is now widely used, it would be great to integrate this library with material-ui.
**Is your enhancement request related to a problem? Please describe.**

**Additional context**

[2019-11-28 13:32] lucasraziel opened #161 "SubmitHandler type error"
**Description of bug**

Error when creating a submit function for the form:

Type 'SubmitHandler<DataContent>' is not assignable to type 'SubmitHandler<FormContent>'.
  Type 'FormContent' is missing the following properties from type 'DataContent': email, passwordts(2322)

**To Reproduce**

Create a page with Form Element and SubmitHandler function in the same file:

Example:
[code]

**Expected be

[2019-11-28 14:30] cristianschutz commented on #125
Hi,
I get the same bug using the example https://github.com/Rocketseat/unform#select-element passing the initialData in <Form>, it's happen only with <Select>, another fields working well.

[2019-12-03 14:58] thiagozf opened #162 "Provide Yup schema information about the field to components"
**What would you like to be added**:

Provide Yup field information to component.

**Why is this needed**:

Since we are able to define a Yup schema in the `Form` component, it would be nice to use that information not only for validations, but also to render my input components. For example, if I mark a field as [required](https://github.com/jquense/yup#mixedrequiredmessage-string--function-schem

[2019-12-03 18:33] thiagozf commented on #162
Just did a quick implementation at d22d3df46a8417fe6298f88d1b4b8de71ca0f0df. I can do a final PR if you guys point me directions on how you'd expect this feature to work.

[2019-12-05 17:07] giorgiofellipe commented on #57
@santospatrick you've managed to fix it or found any workaround?

[2019-12-05 17:17] santospatrick commented on #57
@giorgiofellipe a temporary solution was only render the input when `initialData.property` has loaded

[2019-12-05 17:42] garciawell commented on #57
@santospatrick
Sorry for the delay, I had not tested making an asynchronous call and adding an initial value.

This seems to be a global problem, in which a user comments the same issue by referencing the form in which it is possible to reassign the initial value.

https://github.com/Rocketseat/unform/issues/149

initialData.property
It worked ?

[2019-12-05 19:30] giorgiofellipe commented on #57
Managed to get it working as intended by setting mask again when `defaultValue` changes.

Also, you may face this warning `A component is changing a controlled input of type undefined to be uncontrolled.`. I've got rid of it by passing as value an empty string if `defaultValue` is falsy [(source)](https://stackoverflow.com/questions/37427508/react-changing-an-uncontrolled-input).

[code]

[2019-12-10 17:01] carlosrodrigues94 opened #163 "Each child in a list should have a unique "key" prop."
i´m having this problem when i try to use `<Select /> `
i tried put the key in object ... ex:
 ``
`const test = [ { id: 1, name: Carlos, key: 01 }, {id: 2,  name: Maria, key: 02 } ] `
 doesn´t work

tried put in Select

`<Select key={test.id} options={test} /> `
 doesn´t work

what i have to do to solve this problem?"`

[2019-12-12 11:52] vinniimiranda commented on #160
I need this too

[2019-12-12 16:56] sidroniolima commented on #157
Happening with me too. The values of component update as the input value but the screen is not rendered with the new value.

[2019-12-13 19:07] diego3g commented on #157
We'll be covering this in Unform 2.0 tagged by branch 2.0. In the next release you'll have a method called `setData` and `setFieldValue` to set manually a value to any field inside the form.

We'll probably have Unform 2.0 in a couple weeks.

[2019-12-17 13:03] eduardoborges commented on #161
I found this error too.

[2019-12-26 02:24] fnoquiq commented on #151
Estava com o mesmo problema, o código que o Diego escreve durante as aulas do bootcamp fica desta forma:

[code]

Portanto o correto seria assim:

[code]

Vou deixar o erro abaixo, somente pro pessoal do google chegar aqui mais fácil:

`Warning: Maximum update depth exceeded. This can happen when a component calls setState inside useEffect, but useEffect either doesn't have a dependency array, or

[2019-12-27 02:01] KesleyDavid commented on #106
One suggestion would be something to handle javascript errors.

For example:
1 - I click submit
2 - Yup Verification Finds Validation Failure
3 - Instead of appearing a message below the input, have an error "observer".
4 - Send and handle this error as desired by the application

[2020-01-12 23:40] ggaj commented on #122
Hi Folks,

A problem to use unform(label) + react-input-mask..

[code]

[2020-01-14 17:01] felipecoders commented on #161
i found this error too.

[2020-01-16 18:26] douglasscriptore opened #166 "Doubt in form submit"
Is it possible submit the form's onChange() value in the <Select> component?

[2020-01-22 01:56] augustto commented on #151
obrigado pela dica Gabriel

[2020-01-22 18:01] diegojsanches opened #167 "Update initialData does not update Choice Component to checked"
**Description of bug**
When update inicialData object with useEffect, all inputs are filled, but Checkbox input dont update state

**To Reproduce**

[code]

The result: checkbox don't have checked

![Screenshot from 2020-01-22 14-49-11](https://user-images.githubusercontent.com/5012946/72919878-ff547c80-3d26-11ea-92f2-af6877f6b6f5.png)

**Expected behavior**
Checkbox checked  as the inicialData up

[2020-01-24 04:17] eltonmarques96 commented on #101
Is there some way to integrate the unform with any kind validation?
e.g: In many of cases, is needed to check if zip code is valid using the brazilian post company API, so could we update the unform fields with the data returned from that API?

[2020-01-27 12:40] lipex360x opened #168 "AutoFocus on Reset Form"
**What would you like to be added**:
Autofocus on text input when the form is reset

**Why is this needed**:
After resetting the form, I need a specific text entry to be focused

So that a user does not need to click on the input text every time the form is reset

**Is your enhancement request related to a problem? Please describe.**
It isn't a problem

**Additional context**
Example: login page

[2020-01-27 17:52] thaydds commented on #168
hi @lipex360x ,

i modified the resetForm function to accept a second param called focusedElement, so you can pass the element that need to be focused after the reset statement.
as you can see:
![image](https://user-images.githubusercontent.com/4451937/73199489-b2e8b280-4113-11ea-8776-4fd1bac284a6.png)

i create a example to show how it works:
![deepin-screen-recorder_Select area_20200127144909](h

[2020-02-03 14:37] davecarlson opened #170 "Cannot have 2 checks of the same name on a page"
**Description of bug**

If you have 2 check boxes with the same name (but different scope) on the same page, ticking the top one affects the other

**To Reproduce**
[code]

**Steps to reproduce the behavior:**
Using the above code, when you press check in the second scope, it ticks the box on the first one.

**Expected behavior**
Checks should be independently managed.

**Exception or Error**

**S

[2020-02-10 14:19] edumoreira1506 commented on #104
Hello @xbral I opened one pull request with this functionality, you can see [here](https://github.com/Rocketseat/unform/pull/171)

[2020-02-13 12:06] jpedroschmitz commented on #103
Hey guys, we have been working on the new API and the documentation for the last weeks and now we have two playgrounds created, one for [ReactJS](https://codesandbox.io/embed/agitated-tdd-uf177?autoresize=1&expanddevtools=1&fontsize=14&hidenavigation=1&theme=dark) e another for [React Native](https://snack.expo.io/@diego3g/1e9fb3)  🎉

Also, we are planning to have live previews in [docs](https://u

[2020-02-13 12:06] #103 closed

[2020-02-13 14:10] #36 closed

[2020-02-13 14:10] diego3g commented on #42
Now we have support for React Native: https://unform.dev/guides/react-native

[2020-02-13 14:10] #42 closed

[2020-02-13 14:11] diego3g commented on #49
Now you can create your own custom input and change input classes or styled when `error` is present. Check the [Simple input](https://unform.dev/recipes/simple-input) guide.

[2020-02-13 14:11] #49 closed

[2020-02-13 14:12] diego3g commented on #76
Unform released version 2.0 🎉

Now you can access a lot of form functionalities using the form reference, check [this guide](https://unform.dev/recipes/accessing-form-ref).

[2020-02-13 14:12] #76 closed

[2020-02-13 14:13] diego3g commented on #104
Unform released version 2.0 🎉

And now, validation is out of the box, so you can validate all data using your favorite validation library and then, as you have access to errors, you can grab the input name and scroll to it using JavaScript `element.offset().top`.

Check the [validation guide](https://unform.dev/guides/validation) for more info.

[2020-02-13 14:13] #104 closed

[2020-02-13 14:15] diego3g commented on #106
Unform released version 2.0 🎉

Now the library does not includes it's own components of Input, Select, etc.

So you need to create your custom input with Unform's `useField` API.

This way, you can customize the error position and all the other input styles.

Check [this guide](https://unform.dev/recipes/simple-input) to start creating your custom input.

[2020-02-13 14:15] #106 closed

[2020-02-13 14:17] diego3g commented on #116
Unform released version 2.0 🎉

With that, we do not have a Select component exported inside Unform library, so you'll need to create one using our `useField` API, but i highly recommend you using [React Select](https://unform.dev/third-party/react-select) instead of HTML Select.

Also, `initialData` is used only when the data is synchronously available. If you need to set the data after an API cal

[2020-02-13 14:17] #116 closed

[2020-02-13 14:18] diego3g commented on #118
Unform released version 2.0 🎉

New Unform API is now available, check the docs do start using it: https://unform.dev

[2020-02-13 14:18] #118 closed

[2020-02-13 14:18] diego3g commented on #122
Unform released version 2.0 🎉

And now, it's easier for you to create your custom inputs, we also have a documentation about creating inputs with masks, check this guide: https://unform.dev/third-party/react-input-mask

[2020-02-13 14:18] #122 closed

[2020-02-13 14:21] diego3g commented on #129
Unform released version 2.0 🎉

Now it does not include visual components inside the library, so you cannot import Input, Select or any other element from unform package.

Instead of that, you can now easily create your own custom input sources using the `useField` API.

Check [this guide](https://unform.dev/recipes/simple-input) for an easy example.

I recommend you creating an input for textearea

[2020-02-13 14:21] #129 closed

[2020-02-13 14:23] diego3g commented on #130
Hello @ricardo85x, Unform released version 2.0 🎉

And now, validation is out of the box, so you need to install and import your own validation library and use it inside submit function.

All the input values are passed inside the data object to the submit function, so you can use them the way you prefer.

Check this guide: https://unform.dev/guides/validation

[2020-02-13 14:23] #130 closed

[2020-02-13 14:27] diego3g commented on #147
Hello @JonathanVeg, i'll check that.

As we released Unform 2.0, you can now just fork and clone the repo and inside the project folder just run `yarn` so you can install all the workspace dependencies.

After that, you can run `yarn test` to run all the tests.

Keep in mind that Unform now uses monorepo structure, so all of the code is splitted between packages inside `packages` directory.

If yo

[2020-02-13 14:27] #147 closed

[2020-02-13 14:28] diego3g commented on #149
Hello @zaguiini, unform released version 2.0 🎉

And now you can reset or set form data out of the submit handler.

Check this guide: https://unform.dev/recipes/accessing-form-ref

[2020-02-13 14:28] #149 closed

[2020-02-13 14:38] diego3g commented on #157
Unform released 2.0 🎉

Now you can set an input value manually using the new form reference API.

Check this out: https://unform.dev/guides/get-set-field-value

[2020-02-13 14:38] #157 closed

[2020-02-13 14:41] diego3g commented on #158
Hello @akx, you good? Unform released 2.0 🎉

And now we do not expose any form element inside the library, so all of the form elements must be created by the user.

Instead of exposing the components, we focused on upgrading the `useField` API and the examples, so you can integrate unform with all of your bootstrap inputs.

Check this guide to see an example of a simple input: https://unform.dev/r

[2020-02-13 14:41] #158 closed

[2020-02-13 14:45] diego3g commented on #159
Hello @leandrofinger, Unform released 2.0 🎉

Now the validation is fully out of the box, this means we do not include validation inside Unform package.

Instead of that, you can import your favorite validation library and use it inside the submit handler.

This also means you can customize the way the validation works, so you can disable what you asking by not providing the `stripUnknown: true` in

[2020-02-13 14:45] #159 closed

[2020-02-13 14:46] diego3g commented on #161
Unform released 2.0 🎉

And we fixed that in this release :)

Check the [migration guide](https://unform.dev/migration-guide).

[2020-02-13 14:46] #161 closed

[2020-02-13 14:47] diego3g commented on #162
Unform released version 2.0 🎉

And now, all of the validation is out of the box, so Unform does not includes a schema property anymore, you can choose your favorite validation library and use it inside the submit handler.

Also, you can reuse the same validation schema inside your inputs passing it with a context in React.

Please let me know if you need any further help.

[2020-02-13 14:47] #162 closed

[2020-02-13 14:49] diego3g commented on #163
Hey @carlosrodrigues94, you good?

Unform released version 2.0 🎉

Now we do not include any input component inside the library.

But i highly recommend you to use the `react-select` instead of using the HTML Select element.

Check this guide: https://unform.dev/third-party/react-select

[2020-02-13 14:49] #163 closed

[2020-02-13 14:50] diego3g commented on #166
Hello @douglasscriptore, you good?

Unform released version 2.0 🎉

And now you can submit the form whenever you want inside your code using the form reference API: https://unform.dev/guides/manual-form-submit

[2020-02-13 14:50] #166 closed

[2020-02-13 14:54] diego3g commented on #167
Hello @diegojsanches, you good?

Unform released version 2.0 🎉

Now unform does not include `Choice` component or any other form element inside the library. This means you'll need to create your custom fields using the `useField` API.

Instead of using the Choice component, maybe you can use the `react-select` integration so the user can choose between the options: https://unform.dev/third-party/r

[2020-02-13 14:54] #167 closed

[2020-02-13 15:40] diego3g commented on #170
Hello @diegojsanches, you good?

Unform released version 2.0 🎉

Now unform does not include Choice component or any other form element inside the library. This means you'll need to create your custom fields using the useField API.

Instead of using the Choice component, maybe you can use the react-select integration so the user can choose between the options: https://unform.dev/third-party/react-s

[2020-02-13 15:40] #170 closed

[2020-02-13 17:51] italoiz commented on #160
There is an implementation in the previous version of Unform: [unform-material-ui](https://github.com/italoiz/unform-material-ui). Created by me, I am working on a new implementation for this new version.

[2020-02-13 18:47] diego3g commented on #160
@italoiz Great to hear that, after you finish let us know!

[2020-02-13 18:50] italoiz commented on #160
@diego3g Do you think it is a good idea to try to put it in the `@unform/material-ui` package?

[2020-02-13 19:05] diego3g commented on #160
@italoiz As probably we'll have a lot of integrations maybe we should maintain in separate orgs so it does no depend on us to invite people to NPM org.

I think `unform-material-ui` is a good name 🤘🏻

[2020-02-13 19:08] italoiz commented on #160
In parallel, I am also creating an implementation for [ant.design](https://ant.design). Soon he will be in the community.

[2020-02-13 19:26] diego3g commented on #146
Hello @SereiaMaster, you good?

We've released Unform 2.0 🎉

Now you can access the input reference by using the `getFieldRef` function.

Check this guide to upgrade to v2: https://unform.dev/migration-guide

And this guide to understand how to focus the inputs: https://unform.dev/recipes/accessing-field-ref

I'll close the issue for now but feel free to reopen or create new ones if you have any p

[2020-02-13 19:26] #146 closed

[2020-02-13 19:28] diego3g commented on #168
Hello guys!

We've released Unform 2.0 🎉

With this release, you can access the field reference and `.focus` it easily using the `getFieldRef` function provided by unform.

You can follow the migration guide inside the docs and [this guide](https://unform.dev/recipes/accessing-field-ref) to check the `getFieldRef` function.

I'll close this issue for now as we moved to a totally brand new version

[2020-02-13 19:28] #168 closed

[2020-02-13 19:36] diego3g commented on #135
Hello @denisprado, how are you?

We've released Unform 2.0 🎉

With this, unform does not exposes a FileInput component anymore, neither any other pre built component, so the user must create it's own inputs before using unform itself, we explain this inside the [migration guide](https://unform.dev/migration-guide).

After you upgrade to Unform 2.0, you can create a MultipleFileInput using this cod

[2020-02-13 19:36] #135 closed

[2020-02-19 19:11] AZagatti opened #180 "Grammatical error on the 'get-set-field-error' page"
**Description of issue**

I was reading the documentation and found the word 'requored' in the examples.

**Usage example**

![grammatical error](https://i.imgur.com/may1qt5.png "Unform 2 error")

[2020-02-19 19:41] lexarno commented on #160
Guys, is there any forecast to launch this implementation? I've been using https://material-ui.com/ a lot and I really liked the new version of Unform.

[2020-02-19 19:52] AZagatti opened #181 "Translate error in 'Migration guide' page"
**Description of issue**

I found the word 'or' on the migration guide page, I believe the correct word would be 'or'.

**Usage example**

![grammatical error](https://i.imgur.com/6w6r6l8.jpg "Unform 2 error")

[2020-02-19 20:10] caioedut opened #182 "Add prop to parse values when submitting the form"
**What would you like to be added**:

A simple and automatic way to parse values when submitting the form.

**Why is this needed**:

To make the "handleSubmit" code less verbose

**Additional context**

Eg.: if I want a intbool checkbox, the parse looks like:
[code]
Symbol (+) convert bool to int

[2020-02-20 02:05] Matgsan commented on #182
Aren't you able to do that already? You can create your own input component.

[2020-02-20 08:50] caioedut commented on #182
The intention is to make it simpler, using a component already created, but modify the value in the handleSubmit to, for example, remove masks.

[2020-02-20 13:08] lucianocorreia commented on #160
I'm developing a new Application and I'm testing Ant Design and Material-ui. Any prediction of when the integration with these Libs will come out?

[2020-02-20 13:25] italoiz commented on #160
@lexarno @lucianocorreia I have a lot of work here, but it is likely that I will release a version in two weeks.

[2020-02-20 14:10] diego3g commented on #182
@caioedut As you can create your own input i think it's better if you create a `Checkbox` component, and you can use the `getValue` function inside `registerField` to parse the value before it's returned to the submit handler.

[2020-02-20 17:26] filipecoelho opened #184 "RadioButton funcionality"
How would RadioButton and OptionButton look?
Is it possible to implement this feature?

[2020-02-20 20:02] #181 closed

[2020-02-20 20:55] diego3g commented on #184
Hi @filipecoelho, i did an example implementation of Radio Buttons with Unform.

https://codesandbox.io/s/heuristic-haslett-58hhy?fontsize=14&hidenavigation=1&theme=dark

Let me know if it helped you.

[2020-02-21 00:43] #180 closed

[2020-02-21 04:56] leonardorpr commented on #160
Hi guys!
First sorry for any mistake in my english.

About Material UI integration, is it really necessary? Input components like: `TextField`, `OutlinedInput` and others has a prop called `inputRef`, pass your `inputRef` on that prop and problem solved (:

[2020-02-21 14:11] AllyssonAlas opened #186 "New example in the docs with the lib "benhurott/react-native-masked-text" or even support to it"
**What would I like to be added?**
Searching through the docs I didn't find any example with some lib that has input mask and integration with React Native.

**Why is this needed?**
Since **unform** has integration with RN, is relevant to it examples with some libs focused in RN or even support or integration.

**Is your enhancement request related to a problem? Please describe.**
In RN isn't easy

[2020-02-21 23:00] wmattei commented on #160
@leonardorpr, i agree! @italoiz what exactly is this lib you are working in about?

[2020-02-22 02:14] heniotakatuji commented on #122
https://unform.dev/third-party/react-input-mask

Page not found

[2020-02-22 15:39] maxleon52 commented on #160
I'm sorry for my English.

@diego3g  is there any incompatibility of unForm with the material-ui? Because unForm works with the INPUT field and Material-ui with TEXTFIELD.

[2020-02-22 19:22] Matgsan commented on #186
@AllyssonAlas You can just create a custom Input for unform normally and when using that lib pass the prop `customTextInput={YOUR_INPUT}`. Replace the YOUR_INPUT with the import for your unform Input component.

[2020-02-22 19:33] wmattei commented on #160
@maxleon52 TextField is a component that uses the natvia `input` element

[2020-02-22 23:30] italoiz commented on #160
@leonardorpr @wmattei

Take the following documentation as an example: [Basic Form - Unform](https://unform.dev/guides/basic-form)

Based on the documentation above, it would be necessary that every time we wanted to use some kind of input, we would register the same. Now imagine in large forms, how laborious it would be.

The library in which I am working leaves aside some of this concern to focu

[2020-02-23 00:13] AllyssonAlas commented on #186
Actually I tried, but without  success. I discovered that the common Input and the TextInputMask (the input of the lib) are different in reference, and even the methods inside to set setNativeProps are different too. I'm afraid that you'll need more than that prop to make that lib work with unform

[2020-02-23 13:33] JulioVMelo opened #187 "useEffect not include in live example"
Is necessary import useEffect in [ simple input documentation]( https://unform.dev/recipes/simple-input) live example

[2020-02-23 21:03] wmattei commented on #160
Got it!, Yeah it makes sense now, basically you will remove the requirement of creating custom Inputs, right?

[2020-02-24 01:28] jpedroschmitz commented on #187
Hey @JulioVMelo, thanks for pointing this up. Could you please open a PR for us, fixing it? 💜

[2020-02-24 01:37] JulioVMelo commented on #187
@jpedroschmitz   :+1:

[2020-02-25 18:47] italoiz commented on #160
@diego3g

I just released a new version that supports Unform in its version 2.0. Take a look: https://github.com/italoiz/unform-community-packages/tree/master/packages/material-ui

For those who were waiting ... It doesn't have all the components but soon it will have more news.

@vinniimiranda @lexarno @lucianocorreia

[2020-02-26 03:41] rafaelqw commented on #184
Hi @diego3g ,

I used this sample code and it was perfect, but I had some doubts ...

As it would be to set a default value at startup and also when something is returned from the API, I tried using the setData and it didn't work.

Thankful.

[2020-02-26 12:05] diego3g commented on #184
Hello, @rafaelqw!

I updated the example with support for `defaultValue` and manual `setData`, can you take a look and share your thoughts?

https://codesandbox.io/s/heuristic-haslett-58hhy?expanddevtools=1&fontsize=14&hidenavigation=1&theme=dark

[2020-02-26 15:18] felipecoders opened #193 "setData trigger setValue"
**What would you like to be added**:
When we use `formRef.current.setData({})` it should trigger `registerRef.setValue`.

**Why is this needed**:
 To handler the values in custom inputs models before to update.

**Is your enhancement request related to a problem? Please describe.**
To get setData value today i'm using `useEffect(() =>{}, [defaultValue])`, but this method cause `Warning: Maximum up

[2020-02-26 21:23] diego3g commented on #193
Hi @felipecoders, you left your `useEffect` without any dependencies, so try to use it like this:
[code]
So it will run only once.

[2020-02-27 14:11] felipecoders commented on #193
Hi @diego3g , but when we have a component to handler subpaths, dosen't trigger o setValue. Ex:

[code]

#### component
[code]

It's case, `setValue` dosen't trigger by `setData`.

[2020-02-27 16:41] JulioVMelo commented on #187
#194

[2020-02-27 16:41] #187 closed

[2020-02-28 21:17] rafaelqw commented on #184
Wonderful, it worked! Thank you!

[2020-02-28 22:32] MateusSoares895 commented on #182
I will try implement this feature

[2020-02-29 01:10] #184 closed

[2020-03-03 12:56] souza-gsdev opened #195 "Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
Estou recebendo o erro: Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

Quando uso a validação no form de acordo com a documentação.

[code]

[2020-03-03 20:54] w1redl4in commented on #160
@italoiz are you still working on a Antd integration?

[2020-03-03 23:39] italoiz commented on #160
@w1redl4in Yes, I'm working. You can follow it [here](https://github.com/italoiz/unform-community-packages), this [branch](https://github.com/italoiz/unform-community-packages/tree/feat/antd-support).

[2020-03-07 03:36] WellsSA commented on #122
https://unform.dev/examples/react-input-mask

It simply doesn't worked for me.

I got the following error on `<InputMask name="phone" mask="(999) 999-999" />`:
[code]

[2020-03-09 14:48] jessicabetonico commented on #193
I have the same problem with array data, setFieldValue works, but setData not.

[2020-03-10 19:00] diego3g commented on #193
@jessicabetonico @felipecoders Can someone please provide a Code Sandbox demo with the problem?

I'm trying to reproduce this problem, but i can't.

Thanks.

[2020-03-10 20:59] felipecoders commented on #193
https://codesandbox.io/s/lingering-wildflower-qxn2u

[2020-03-11 11:52] Rise95 commented on #186
Bom dia, uma dica resolvi a questão da mascara usando o mesmo exemplo que tem na documentação para web, porem no react native alterei a lib para essa aqui https://github.com/react-native-community/react-native-text-input-mask

[2020-03-11 16:13] diego3g commented on #193
@felipecoders Now i got it, you're trying to set the value of the input as an object? So you want to set the value of `screen` as:
[code]
Is it right?

Unform runs through this object and it's probably trying to find an input named `screen.id`, another `screen.name`, another `screen.layout.id` and `screen.layout.name`.

So, Unform does not comprehends that you're setting an object as the `screen`

[2020-03-11 16:14] diego3g commented on #186
Hi @AllyssonAlas, have you tried to implement this with this library instead? https://github.com/react-native-community/react-native-text-input-mask

I think it's a better approach since it's from the react-native-community.

[2020-03-11 16:16] diego3g commented on #195
Hello @souza-gsdev, i cannot reproduce the problem here.

Can you provide a Code Sandbox with the same code with the error?

Also, keep in mind to use english as primary language inside this repository :)

[2020-03-11 16:17] diego3g commented on #182
As we didn't have any updates on this, i'll close this issue for now but feel free to reopen it if the problem persists.

[2020-03-11 16:17] #182 closed

[2020-03-11 19:48] rafaelbpa commented on #195
I was with the same warning here.

Fixed exporting my input component with forwardRef (as the warning message suggest)
[code]

[2020-03-12 17:37] AllyssonAlas commented on #186
I chose this lib because it is entirely in Javascript, no need of further steps to install besides the npm install.

[2020-03-12 17:52] AllyssonAlas commented on #186
I managed to find a solution, don't know if it is the best solution but it worked and it relies on the unform purpose, no state.

**Based on the common input provided by the unform docs for React Native**

`import {MaskService} from 'react-native-masked-text'

<Input
	keyboardType={'numeric'}
	onChangeText={text => {
		const formatted = MaskService.toMask('datetime', text, {
			format: 'DD/MM/YYYY

[2020-03-12 17:52] #186 closed

[2020-03-16 22:47] AdilsonLopesDev commented on #116
Hello Devs, I hope you are all well.
how could i use unForm with the react sematic-ui library?
I would like to be able to use unform with this library.
Someone could help with that.

[2020-03-16 22:59] AdilsonLopesDev opened #199 "React sematic-ui library"
Hello Devs, I hope you are all well.
how could i use unForm with the react sematic-ui library?
I would like to be able to use unform with this library.
Someone could help with that.

[2020-03-17 13:30] diego3g commented on #199
Hello @AdilsonLopesDev, how are you?

I made a simple Code Sandbox with Semantic UI Form and Input as an example.

https://codesandbox.io/s/objective-goodall-77swi?expanddevtools=1&fontsize=14&hidenavigation=1&theme=dark

Let me know if it helps you.

[2020-03-19 02:18] claudiohilario opened #200 "I can't access a field ref on useEffect"
**Description of bug**
I can't access a field ref on useEffect in parent component (similar to `componentDidMount`).
But if i use `setTimeout` works :D

[code]
is supposed?

**To Reproduce**
[code]

Complete example: https://codesandbox.io/s/reffield-xyo92

**Exception or Error**

<pre><code>
TypeError
refForm.current.getFieldRef(...).focus is not a function
</code></pre>

[2020-03-19 11:51] diego3g commented on #200
@claudiohilario The `formRef` is not exposed since the beginning of the component render, so, generally you'll have access to it after the component already rendered.

Can you try using `autofocus` property on the input?

[code]

[2020-03-19 11:51] diego3g commented on #195
Closing this since there are no updates from the author.

Feel free to reopen the issue if the problem persists.

[2020-03-19 11:51] #195 closed

[2020-03-19 15:30] claudiohilario commented on #200
@diego3g Yes, it works, but if I want to control the child components, I need to use props and status?

I thought that after the "componentDidMount", all the ref methods would be available. (theoretically) right?

I thought it would be good to report 😄

[2020-03-20 14:20] leonardobrito opened #202 "Fix react-input-mask setValue doc"
**Description of issue**
Currently, the [reaction-input-mask example in the documentation](https://unform.dev/examples/react-input-mask) does not define a value in `ref.setInputValue('');`.

**Usage example**

To fix just change to:

[code]

[2020-03-22 19:58] dmcardoso commented on #193
Same problem on input files and react-select

[2020-03-23 17:10] duarte-evocorp opened #203 "Add support for react-native-masked-text"
I can't integrate a mask lib into native unform.

[2020-03-23 17:43] duarte-evocorp commented on #203
What is the solution or support for masks in React Native?

[2020-03-24 13:03] vitorgrenzel commented on #203
Example of integration with react-native-masked-text:

[code]

[2020-03-24 13:13] vitorgrenzel opened #204 "Add example of integration with React Native Masked Text"
**Description of issue**
[React Native Masked Text](https://github.com/benhurott/react-native-masked-text) offers an easy way to add masks to inputs in React Native.

**Usage example**
[code]

[2020-03-24 14:24] duarte-evocorp commented on #203
@vitorgrenzel,

Very good Congratulations. Does this implementation only impact performance once? Because it is hurting a component rule because it is saving every user input.

[2020-03-25 13:24] gusflopes commented on #125
Any update on this bug?
unform working for creating new objects, but without this fix can't be used to edit forms that use Async Select.
Also having trouble with Material UI integration but i'll open a differente issue..

[2020-03-25 13:31] diego3g commented on #125
@gusflopes @cristianschutz @judsonjuniorr I made a simple example inside Code Sandbox using `defaultValue` as a single value instead of an object including the label and value.

Then i get the defaultValue inside Select and search for it's option.

Have a look: https://codesandbox.io/s/throbbing-firefly-cob4s?fontsize=14&hidenavigation=1&theme=dark

[2020-03-25 14:29] gusflopes commented on #125
@diego3g first of all, thanks for the reply...
My problem was a little bit different but this codesandbox helped me figuring out what i need to do to fix.

In my case, i also needed to use this Hook to fix passing the label:
`await formRef.current.setFieldValue('category_id', {value: category_id, label: categories.name});`

But it worked now anyway...

[2020-03-25 15:06] gusflopes commented on #125
Btw, I tried to illustrate the problem here.
@diego3g , You codesandbox doesn't seems to work when the options need to be fetched from the backend. I tryied to simulate that on this link:

https://codesandbox.io/s/hopeful-wiles-z35ds?fontsize=14&hidenavigation=1&theme=dark

Your fix works for passing the value to the form, but doesn't give any visual feedback...

(PS: I'll work on the problem with

[2020-03-25 15:36] gusflopes opened #205 "Problem when setting new value - integration with Material-UI"
**Description of bug**
When I set a new value to a TextField (material-ui) using the Hook, instead of typing the TextField doesn't work correctly. Probably there is somewhere else I need to pass the value?

**To Reproduce**
Just checkout the codesanbox above and take a look at the Input element: https://codesandbox.io/s/hopeful-wiles-z35ds?fontsize=14&hidenavigation=1&theme=dark

**Expected behavi

[2020-03-26 08:52] albertoammar opened #206 "How create my inputs"
Documentation is empty:
https://unform.dev/recipes/creating-your-own-inputs

I would like to create my custom inputs, but I don't know where to start.

Example:

[code]

[2020-03-26 13:55] diego3g commented on #125
@gusflopes Yeah, i got the problem.

When you call Unform's `setData` on formRef with an object like this:

[code]

It tries to find an input named `field.label` and another `field.value` instead of passing all this object to the input named `field`.

I'm working on a solution, but for now you can use the `setFieldValue` as it does not try to find children inputs.

[2020-03-27 00:32] AdilsonLopesDev commented on #199
I'm very well.
Thank you very much, it helped me a lot, you are the best.

[2020-03-27 01:06] Sutolix opened #207 "How to add options in a select element?"
I read the documentation but only found the part about React Selector. I managed to add the element on the screen but I don't know where to add the options.

[2020-04-01 16:02] leonardobrito commented on #207
@Sutolix take a look at this link [https://codesandbox.io/s/throbbing-firefly-cob4s](https://codesandbox.io/s/throbbing-firefly-cob4s), maybe it can help you. 🤙

[2020-04-01 16:06] kserjey opened #208 "Why do you use local state?"
**What would you like to be added**:

Replace `useState` with `ref`

**Why is this needed**:

I have seen through your code and stated to wonder why don't use simply `ref` for _fields_?. As far as I understand, there is no need in `useState`, because nothing depends on it.

[2020-04-01 17:01] Sutolix commented on #207
Oh, nice. Thanks man

[2020-04-01 17:01] #207 closed

[2020-04-02 01:30] lucascco commented on #195
Hi guys, I had the same problem of @souza-gsdev .

Hi @diego3g, your student from RocketSeat here, rsrs

In this case I was using only @rocketseat/unform and get de Form from this lib. Looking at   https://codesandbox.io/embed/agitated-tdd-uf177?autoresize=1&expanddevtools=1&fontsize=14&hidenavigation=1&theme=dark
I see that the Form coming from @unform/web to use useRef.

To try fix this error in

[2020-04-02 01:33] lucascco opened #209 "Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?"
This is about the closed issue in #195.

Hi guys, I had the same problem of @souza-gsdev in #195 .

Hi @diego3g, your student from RocketSeat here, rsrs

In this case I was using only @rocketseat/unform and get de Form from this lib. Looking at   https://codesandbox.io/embed/agitated-tdd-uf177?autoresize=1&expanddevtools=1&fontsize=14&hidenavigation=1&theme=dark
I see that the Form coming from @un

[2020-04-02 23:24] AndreiLN opened #210 "Input hidden losing value on setState"
**Description of bug**
I have a hidden input that loses it's value, anytime when I do a setState on page, if I put input of type "text" it's works without any problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [CodeSandboxExample](https://codesandbox.io/s/dreamy-leftpad-vsc0s)
2. Fill the input
3. Click See (Now id_1 will have value)
4. Click Show More (This changes state in page

[2020-04-03 09:06] albertoammar commented on #206
someone?

[2020-04-03 19:14] felipedssantos commented on #206
I Have same problem, this part on docs are empty

[2020-04-05 15:44] #199 closed

[2020-04-05 15:48] diego3g commented on #200
The first `useEffect` runs in parallel with component render, so for the first time it'll probably not be available. You can use the `setTimeout` or you can try using the `useLayoutEffect` instead of `useEffect`.

[2020-04-05 15:49] diego3g commented on #202
Fixed in #211

[2020-04-05 15:49] #202 closed

[2020-04-05 15:50] diego3g commented on #203
I prefer not using an masked input component and manage the mask while user types into de input, what do you think about it? Take a look at: https://imask.js.org/

[2020-04-05 15:51] diego3g commented on #204
Hi @vitorgrenzel, thanks for the suggestion.

Do you think that storing the input value whenever the user types into the input is the better way?

I use to prefer to handle masks while the user types instead of using pre-built components like this one.

Can you take a look at something like: https://imask.js.org/ ?

[2020-04-05 16:58] diego3g commented on #205
Hi @gusflopes, i was trying to find the solution here and i think i got it.

As it seems, Material UI does not reflect any input changes in it's UI so we need to make some DOM modifications as soon as we set a new value to the input.

So inside the `registerField` of your input use this:

[code]

I created a materialInputRef so i can make modifications inside the HTML itself.

It'll add the classe

[2020-04-05 17:12] diego3g commented on #206
Hello @albertoammar and @felipedssantos, we're still working on this part of docs.

You can take a look at some examples we have implementing React Select, React DatePicker and other libraries.

Unform exposes an `useField` hook that you need to call inside your custom input:

I made an example trying to implement what you mentioned in this issue, please take a look and let me know if it's clearer

[2020-04-05 17:12] diego3g commented on #208
@kserjey Can you send us an implementation through a Pull Request? I'd appreciate.

[2020-04-05 17:32] diego3g commented on #210
Hey @AndreiLN, how you doing?

Just in case, why do you need the ID as an input? If you have the value of the ID that you're passing as `defaultValue`, why you just don't use it inside the handleSubmit instead of creating a hidden input?

[code]

[2020-04-05 19:16] mja-maia commented on #205
I had same problem here. @diego3g with your above solution dont work after input lose focus.

[2020-04-06 05:54] albertoammar commented on #206
Nice @diego3g , it's work for me!

[2020-04-06 14:19] kserjey commented on #208
I am working on a similar solution for complex forms at my work. I have taken your library as a basis. There are some ideas that I am experimenting on and when I come up with something, I will send you a Pull Request.

[2020-04-06 15:27] diego3g commented on #206
Closing this issue for now, feel free to reopen it if it's necessary! :)

[2020-04-06 15:27] #206 closed

[2020-04-06 15:28] diego3g commented on #208
Great to hear that @kserjey, we're always looking for new contributors and maintainers if it's your desire! 👍

[2020-04-06 16:27] benji-io opened #215 "Unable to retrieve input data on React Native 0.62+"
**Description of bug**
I'm trying to get written data from my Input, but It doesn't return me anything. It looks like everything is right, but It doesn't return the expected data.

**To Reproduce**
You can check my code at Expo Snack: https://snack.expo.io/nokjkxDeo

**Expected behavior**
The Input component must return the received data from the user. But instead of it, I made a rule to return an

[2020-04-06 22:40] AndreiLN commented on #210
Hi,

It's only a example, of course in this case there are too much ways of solve the issue, but, there is no way to have a hidden input (Without states and consts)?

[2020-04-07 00:32] diego3g commented on #210
@AndreiLN I think it's not a problem with Unform itself but with React integration with this type of input. I already made some tests using the Code Sandbox you provided but no success, even without Unform the value disappears.

[2020-04-07 14:10] willianhf commented on #203
@diego3g there's some example on how to integrate `imask` for react native with `unform`?

[2020-04-07 19:00] ZeFelix opened #216 "Add function to clear the error message when typing or focus in the input"
**What would you like to be added**:
Add a function inside the `Uniform Field` where I can clear the message

**Why is this needed**:

User usability issues when entering a correct entry

**Is your enhancement request related to a problem? Please describe.**

This problem occurs when I have an input where the error message exists, but I want the error message for that input to be erased when typin

[2020-04-08 17:13] AndreiLN commented on #210
Oh, so if it's not a Unform issue, I will close this issue.
Thanks!

[2020-04-08 17:13] #210 closed

[2020-04-11 18:42] uandersonmbc commented on #160
As @leonardorpr  said, just change the ref to inputRef, and your problem is solved.

[2020-04-13 20:56] mateusleonhardt opened #217 "Impossible to use event.target.submit() or other function to continue submission on form"
I created a contact form using Unform inside Gatsby integrated with Netlify, but when I do the submission it is not going to the "action" property of the form .. it does not go to the success page and I do not even receive the form data on Netlify.

Eu tentei encontrar uma solução para isto em alguns foruns e exemplos, mas sem sucesso. O formulário não chega na propriedade "ação" ou envia os dados

[2020-04-14 17:26] maiconfriedel commented on #57
Thanks @giorgiofellipe and @garciawell  ! You guys saved me! I was having the same issue in my code, and that solution saved me! 😄

[2020-04-14 21:24] pdlug opened #218 "Unclear how to create custom input w/o ref"
**Description of issue**

I'm trying to create a custom inputs that use Slate.js, markdown lite, and other components that either don't provide `ref` or where it's unclear what `ref` is linked to. It's unclear to me how to provide the input value in these cases. The doc section on "Creating your own inputs" is blank.

**Usage example**

[2020-04-14 21:33] VictorAssis opened #219 "Implement custom component"
**Description of issue**

I'm trying to create a custom component of multiple inputs (as the below gif) and this part of documentation is blank (https://unform.dev/recipes/creating-your-own-inputs).

My idea is solve the problems i am facing and create a pull request with a documentation for this page.

**Usage example**

My component needs to be like that:
![multiple-inputs-capture](https://user-

[2020-04-16 01:31] diego3g commented on #200
Closing this issue as there were no interactions for some days. Feel free to reopen it 💜

[2020-04-16 01:31] #200 closed

[2020-04-16 01:58] diego3g commented on #215
React Native 0.62 reimplemented the `ref` on TextInput, so we need to store the input value manually inside the ref. I will update the docs soon, but for now i have a working example:
[code]

[2020-04-16 02:00] diego3g commented on #216
Working on that!

[2020-04-16 02:04] diego3g commented on #217
I will send a fix for that, maybe we can keep the form event within the submit function, somehting like that:
[code]

[2020-04-16 02:08] diego3g commented on #218
Working on that, i'll try to update the docs this week. I'll also notify you here. If you don't wanna wait, my advice is that you need to store the value within a ref, something like:
[code]

Then, you can use the `getValue`, `setValue` and `clearValue` functions inside `registerField` to customize the way unform talks with your custom input.

[2020-04-16 02:39] filliperomero commented on #125
I just tried @gusflopes fix and my `defaultValue` didn't work. The workaround I needed to do was the following:
Add this function inside the `registerField` for the AsyncSelect using Unform example (https://unform.dev/examples/react-select/#async)
[code]

[2020-04-16 03:04] diego3g commented on #125
@filliperomero Great! I'll update all the React Select integration docs this week including default values.

[2020-04-16 13:30] filliperomero commented on #125
@diego3g Another addition I needed to do was the function `clearValue `to the `registerField`.
That was needed because when we use the `reset` function from the `form`, the `select` won't reset.
Therefore, for anyone that wants to reset the form entirely (including the async selet), you must use the following function to your `registerField`:

[code]

[2020-04-16 15:08] romulotorres opened #220 "Empty fields on submit running basic example with react-native 0.62.2"
**Description of bug**
On submit form, usind react-native 0.62.2, all fields stay empty.

**To Reproduce**

**Expected behavior**
Fields filled with inserted data.

**Exception or Error**

No error or exception to show

**Screenshots**

**Environment:**
Using a real device android MotoE 5, Android version: 8.0.0
Node: v12.16.2
Npm: 6.14.4
Flipper active

**Additional context**

Libs on package.jso

[2020-04-17 03:46] diego3g commented on #220
I'll update the docs this week, but for now look at this issue #215

[2020-04-18 01:13] harlancleiton opened #221 "Component does not know when the form received an initial data"
**Description of bug**
How can i be alerted in the input component when the form receives initial data?
My input component has a label that should only be displayed when the user types something. For this I use "onChangeText", however this function is not called when the form has an initial data. The solution I found was to pass to the input component a "showLabel" property in forms that have an i

[2020-04-18 15:05] Vini-Dev opened #222 "Bug on setData and maybe on getData"
### Description of Bug
When i try execute the method setData on componentMount "useEffect(() => {},[])", the method not working.

### Follow the tests I did:

**Without async**
[code]

**With async**
[code]
**It works 🤯...**
[code]

_**Note:** I didn't use the "initialData" property, because my form has a step by step and, in some parts, has state._

[2020-04-18 21:20] nemuba commented on #125
I had the same problem, when using or resetting ( `reset()` ) was not working, following a recommendation from friend @filliperomero, it remained like this:

`clearValue: ref => {
        ref.select.clearValue();
      }`

[2020-04-19 15:36] #193 closed

[2020-04-19 15:36] #208 closed

[2020-04-19 15:36] #215 closed

[2020-04-19 15:36] #217 closed

[2020-04-19 15:36] #220 closed

[2020-04-19 15:46] diego3g commented on #216
Fixed in #223.

[2020-04-19 15:46] #216 closed

[2020-04-20 09:17] danieldfc commented on #152
I had a problem similar to the guy, but the button is not doing the submit action on the form, I don't understand!

![image](https://user-images.githubusercontent.com/33139541/79735237-5807c700-82ce-11ea-8fd3-8840562b6cf2.png)

[2020-04-20 14:35] VictorAssis commented on #219
Following Diego's comment https://github.com/Rocketseat/unform/issues/218#issuecomment-614372750, I managed to solve my second doubt.

I created a ref to maintain the lines and values (like a state) and a function that update the ref and the state. In this way, the unform can access the ref to get the values.

This is demonstrated here: https://codesandbox.io/s/modest-gauss-czf5q

Now my first dou

[2020-04-20 15:56] diego3g commented on #219
@VictorAssis There is no problem using state at all, but you can store the value directly inside the ref without passing it to a state.

[2020-04-23 02:47] diego3g commented on #152
@danieldfc It looks like you're not using Unform at all as you're saving the input value inside a component state. Unform doesn't need that. Also, you're passing `schema` as a Form property but we dropped this since Unform 2.0 was launched.

You can take a look at the migration guide: https://unform.dev/migration-guide

[2020-04-23 17:05] harlancleiton commented on #221
I don't know if there is another way, but adding this to the component solved the problem

`useEffect(() => {
    if (inputRef.current.value) setVisibleLabel(true);
  }, []);`

[2020-04-24 19:47] AntonioEduardo1998 opened #226 "How to use react-select with typescript?"
I'm using the code that is in the documentation of Unform to use the react-select with tsx extension but I have a few errors that I can't resolve for myself. It seems to me that they are typing errors.

[code]

Argument of type '{ name: string; ref: null; path: string; getValue: (ref: any) => any; }' is not assignable to parameter of type 'UnformField<any>'.
  Type '{ name: string; ref: null; path

[2020-04-24 20:19] AntonioEduardo1998 commented on #226
![image](https://user-images.githubusercontent.com/50385127/80253465-b70f6800-864f-11ea-9a77-7c4157bf1d6c.png)

[2020-04-24 21:08] danieldfc commented on #152
@diego3g  I was not aware of this new update, which is why I had these problems. However, thanks for showing me how I can update to this new version of unform. :rocket:

[2020-04-26 16:08] giovanniantonaccio commented on #205
@mja-maia I had a similar issue using another Form Lib and this bug seems to be a limitation of Material-UI.

I fixed the problem using this approach, pointed by Material-UI TextField documentation:

![image](https://user-images.githubusercontent.com/8068067/80313033-8dbd1c00-87b6-11ea-840f-e75c55f8e803.png)

You can find more details here: https://material-ui.com/components/text-fields/#textfield

[2020-04-26 20:24] filliperomero opened #227 "Problem on links inside documentation"
**Description of issue**

All links that redirect to github are not working (the ones that has "Edit this page on GitHub"). The href is correct but gastby is putting "https://unform.dev/" in front of every link, so we end up on a 404 page.

Browser Informations
Browser: Chrome
Version: 80.0.3987.163 (Official Build) (64-bit)

**Usage example**
Enter the page: https://unform.dev/examples/file-input

[2020-04-27 16:16] willianhf opened #228 "getFieldRef not working"
**Description of bug**
`getFieldRef` method return `undefined` even the field exists.

**To Reproduce**
I've created a hook to wrap field register and an Input component
[code]
[code]
Then I tried to get it `ref`

[code]

**Expected behavior**
Return the input `ref`

**Environment:**
 - OS: MacOS Mojave
 - Simulator OS: iOS 12.0
 - Node: 10.16.3

[2020-04-27 17:54] filliperomero commented on #228
Hello @willianhf, your problem is probably on the `ref: inputRef,` which receives the ref.current.
In `InputMasked`, pass the ref like this:
[code]
See that I removed `?._inputElement`.
I did a quickly test here with codesandbox and now you should receive the ref correctly.

For future Issues, is nice to post the [codesandbox](https://codesandbox.io/s/), so we can test better since your code is mi

[2020-04-27 18:03] willianhf commented on #228
Hi @filliperomero, I forgot to mention this issue is happening on React Native and I'm using `react-native-masked-text` to handle masked inputs. So in order to access input ref I need to pass the `_inputElement` property.

[2020-04-27 18:09] filliperomero commented on #228
Oh, in that case some stuffs changed.
Can you post your code in Codesandbox? I think they have a template to React Native over there.
I can try to see again if there is a solution to your problem.

[2020-04-27 18:15] diegoarcega opened #229 "validate on field blur, focus or change. + form state(isSubmitted)"
**What would you like to be added**:

- when to validate a certain field, onBlur, onFocus, onChange.
- form state if it has been submitted.

**Why is this needed**:
- Improvement of UX, user will know right away if the typed data is valid and correct as soon as possible.

**Is your enhancement request related to a problem? Please describe.**
- I now need to keep the isSubmitted state on my LoginPa

[2020-04-27 19:47] willianhf commented on #228
@filliperomero I think it's an react-native related issue, here's the codesandbox.
https://codesandbox.io/s/unform-react-native-qbvq2

[2020-04-28 14:31] luizsantoszup opened #230 "Possibility to import the Props used in Form.d.ts"
**Suggestion**

We might be able to use the _props_ used in `React.ForwardRefExoticComponent`, in _Form.d.ts_. "Ideal" example:

original:

[code]

modified:

[code]

Use:

[code]

Today I am using this way for this purpose:

[code]

I don't see any problems with the mode I'm using, but the suggestion would be less detailed and elegant coming straight from the lib, I think. For example, using `For

[2020-04-28 14:32] #230 closed

[2020-04-28 14:36] dziul opened #231 "Possibility to export props used in React.ForwardRefExoticComponent (Form.d.ts)"
**Suggestion**

We might be able to use the _props_ used in `React.ForwardRefExoticComponent`, in _Form.d.ts_. "Ideal" example:

original:

[code]

modified:

[code]

Use:

[code]

Today I am using this way for this purpose:

[code]

I don't see any problems with the mode I'm using, but the suggestion would be less detailed and elegant coming straight from the lib, I think. For example, using `For

[2020-04-28 17:53] #231 closed

[2020-04-29 00:27] lcoalves commented on #226
I have same problem.

[2020-04-29 02:17] Maycon-Santos opened #232 "Portuguese text in Playground"
The submit button it's in portuguese.
I know it’s not a critical mistake, but it’s good to keep the standard

[Playground](https://codesandbox.io/embed/agitated-tdd-uf177?autoresize=1&expanddevtools=1&fontsize=14&hidenavigation=1&theme=dark)

[2020-04-29 18:37] ev4ndropc commented on #12
solved my mistake, just put the name in the inputs

[2020-04-30 16:58] Gustavomdcl opened #233 "registerField() is not working inside <Scope />"
**Description of bug**

🐞- Whenever I add <code>registerField()</code> custom component inside a <code>Scope</code>, the data exported after submitting the Form does not include the registered custom field value. However, when I set this exact <code>registerField()</code> custom component outside the <code>Scope</code>, it works as perfectly as winning the lottery 💸.

**To Reproduce**

1. Create a

[2020-05-01 05:28] deusdete-filho commented on #226
I have same problem.

[2020-05-01 17:21] eugustavo commented on #122
I tried to use this code and an error was returned.
I removed the function from inside the **InputMask** and left only the **Input** and it worked 😁
`
<InputMask mask="99999-999">
       <Input name="zipcode" placeholder="CEP da sua cidade" />
</InputMask>
`

[2020-05-01 20:23] yarapolana commented on #218
Great that you are on it @diego3g I was just about to add a request for this today.
Any news so far?

[2020-05-01 23:53] AntonioEduardo1998 commented on #226
I resolved this issue by changing  the path to undefined.
![image](https://user-images.githubusercontent.com/50385127/80849492-bf3a4b00-8bed-11ea-977c-e0701822b0b2.png)

[2020-05-01 23:53] #226 closed

[2020-05-03 21:56] wmattei opened #234 "Add shortcut to listen to form or field changes"
**What would you like to be added**:
Currently we are able to add event listener to the field ref by doing something like:
[code]

I think it would be better if we could do something like:
[code]

**Why is this needed**:
It would turn the code into something cleaner, and also would give the opportunity to listen to the whole form

**Additional context**

I would love to raise a PR doing it, but fi

[2020-05-04 02:47] cezarmzz opened #235 "RadioButton implementation with Typescript"
**What would you like to be added**:
I checked Issue #184, but i can't reproduce the same results on Typescript.
The return type on getValue and setValue methods is the same of field, make impossible to check what radio is checked.
Check this out: https://imgur.com/a/isOVCu5

**Why is this needed**:
In the new version of GoStack, we use only Typescript, and RadioButton is one of most used componen

[2020-05-05 02:20] gufonsecaa opened #236 "TypeError: Cannot read property {{ value passed to the property name }} of undefined."
**Description of bug**

I'm trying to create a Select component using react-select, but i'm getting an error that says: TypeError: Cannot read property 'accountListViews' of undefined.

This 'accountListViews' it's a value passed to the property "name" in component.

I just tried to copy all code exemple and also I removed all references to typescript as recomended in documentation.

**To Reproduc

[2020-05-05 02:44] #236 closed

[2020-05-08 16:31] sivarmn opened #237 "TypeError: Cannot set property value of #<TextFieldBase> which has only a getter"
**Description of bug**
TypeError is thrown when using unform with fluentui with basic textfield. This happens when setting value using
`formRef.current.setData({ email: "test@gmail.com" });`

this only happens when I use setdata. Looks like the setter is not defined. Is there workaround for UI libraries as these.

**To Reproduce**

Input Component
[code]
Form Component:
[code]

[2020-05-09 20:42] willianhf commented on #228
I managed to solve the problem unregistering the field on `useEffect` cleanup.

[2020-05-09 20:44] #228 closed

[2020-05-11 03:04] #152 closed

[2020-05-11 03:05] diego3g commented on #160
Closing this issue, please @italoiz keep us informed about updates in this integration.

[2020-05-11 03:05] #160 closed

[2020-05-11 03:06] diego3g commented on #205
Closing this issue for now, feel free to reopen it if the problem persists.

[2020-05-11 03:06] #205 closed

[2020-05-11 03:09] diego3g commented on #218
@yarapolana feel free to send new requests :)

For now, evertime that a custom input i'm using React refs, something like this:
[code]

[2020-05-11 03:10] diego3g commented on #221
Closing this for now, if the problem persists feel free to reopen the issue.

[2020-05-11 03:10] #221 closed

[2020-05-11 03:11] diego3g commented on #232
Fixed :)

[2020-05-11 03:11] #232 closed

[2020-05-11 03:16] diego3g commented on #233
I think that the problem is in your `useEffect` dependencies, try to use something like:
[code]

[2020-05-11 03:17] diego3g commented on #227
Thanks, i'll fix that.

[2020-05-11 03:19] diego3g commented on #234
@wmattei can you show us a use case to this instead of listening to changes inside the input itself? I mean something like:
[code]

[2020-05-11 03:25] diego3g commented on #237
I think this is something with TextField from Fluent UI itself as the error message is saying that the `componentRef` does not provide a value property.

Is there another property like `inputRef`? Because it seems that `componentRef` is not the native input reference itself.

[2020-05-11 03:31] diego3g commented on #203
React Native Masked Text example: https://unform.dev/examples/react-native-input-mask/

[2020-05-11 03:31] #203 closed

[2020-05-11 03:32] diego3g commented on #204
React Native Masked Text example: https://unform.dev/examples/react-native-input-mask/

[2020-05-11 03:32] #204 closed

[2020-05-11 12:26] wmattei commented on #234
In my opinion it would be better if we could center the changes logic in just one place, as there can be multiple levels of components between the `<Form />` and the `<Field />`. I'm using the [@angular/forms](https://angular.io/api/forms)  as basement of my ideas.

For example:

[code]

In this case, if i want to listen to changes on a field that is inside `AddressForm` i would need to pass a fun

[2020-05-11 20:31] Ahavaz commented on #235
I'm having the same problem with types in registerField function:
[code]

[2020-05-12 13:29] rrigoni opened #238 "where is the rocketseat/unform version 1.x documentation?"
It seems that the documentation for rocketseat/unform 1.x does not exist anymore.

I need to implement a simple input container and I cant migrate from 1.x to 2.x at the moment and I'm stuck because I can't find the docs.

Do you guys have some codesandbox sample for a single input integration that I can take a look ?

[2020-05-12 15:28] vhcord commented on #235
i'm having the same problem in the version typescript

`Argument of type '{ name: string; ref: null; path: string; getValue: (ref: any) => any; }' is not assignable to parameter of type 'UnformField<any>'.
  Type '{ name: string; ref: null; path: string; getValue: (ref: any) => any; }' is not assignable to type 'FunctionUnformField<any>'.
    Types of property 'path' are incompatible.`

[2020-05-12 19:46] naldo-88 opened #239 "setData on select"
Não estou conseguindo setar o valor no select.

Eu reproduzi no codesandbox conform o link abaixo

[codesandbox](https://codesandbox.io/s/unformselect-setdata-iz6to)

Caso alguém possa me ajudar agradeço.

[2020-05-13 23:29] dksouza opened #240 "onSubmit"
Boa noite, queria saber se só funciona com onSubmit? Não seria possível usar onClick de um Button? Fiz o teste com onClick mas não tive resultado...

[2020-05-14 01:11] SereiaMaster commented on #239
Resolvi pra você! Abraços!

[2020-05-14 02:17] Gustavomdcl commented on #233
Thanks, but it's still not working. It might be something else.

[2020-05-14 02:21] Gustavomdcl commented on #233
I managed to correct it by adding a `<Input type="hidden" name={fieldValue.name} value={value} />` when it's inside a scope. Actually, thinking about it, it is simpler than using the registerField.

[2020-05-14 11:44] naldo-88 commented on #239
Vlw amigo,
Deu certo já fiz o teste na minha aplicação também, muito obrigado...
Abraços!

[2020-05-14 11:44] #239 closed

[2020-05-15 08:30] digaso opened #241 "View config not found for name form. Make sure to start component names with a capital letter."
**Description of bug**

View config not found for name form. Make sure to start component names with a capital letter.

**To Reproduce**
Put Picker tag inside the Form tag

**Expected behavior**

Appears this error '" View config not found for name form. Make sure to start component names with a capital letter.".
It is awkward because I used it in other screens with input boxes and it worked
[code

[2020-05-15 22:00] jrmarqueshd opened #242 "Missing default value information for those not using typescript in the example of unform integration with react-input-mask"
Today I faced a bug using unform with react-input-mask.  In my case using the `<Scope path="module[0]" /> `and `<Scope path="module[1]" />` with `setData`, and in my input component using `react-input-mask` I defined the structure:

[code]

 Following exactly as the documentation says, however, if I had value to fill only the fields of the first `<Scope />` the second would give `Uncaught TypeErro

[2020-05-19 14:19] sirocogabriel commented on #240
então vai com o onSubmit

[2020-05-21 18:01] giovanniantonaccio commented on #229
It would be really nice to have an option to validate onBlur, onFocus or onChange.

Maybe adding a `touched` attribute to the fields that the user has already interacted in some way and applying the validation just to them.

[2020-05-22 17:36] taikio opened #243 "react-select not rendering selected option"
**Description of bug**

I'm trying to set a value returned by the API in react-select to edit a record, but I noticed the following:
- the state of the component is updated, but the value is not rendered inside the select

When I use react-select without Unform I can set the value property and it works correctly.
Below is a link to an example that highlights the error:

https://codesandbox.io/s/re

[2020-05-26 04:17] Gabrielfcs commented on #229
It would be very good if we had an **`onChange`** of the form data to be able to validate using **Yup**!

[2020-05-26 12:55] aureanemoraes opened #244 "registerField property erros"
I'm trying to use Select from unform, i'm just copying and cutting from https://unform.dev/examples/react-select, I'm using simple select.
But i'm getting this error with register field:

can anybody tell me how to fix this?
All dependencies installed

[2020-05-26 14:47] aureanemoraes commented on #244
i replace
`path: 'state.value'`
for
`path: undefinied`

and it worked

[2020-05-26 14:47] #244 closed

[2020-05-26 22:58] jpedroschmitz commented on #240
Você pode usar o método `submitForm()`

[Documentação](https://unform.dev/guides/manual-form-submit)

[2020-05-26 22:58] #240 closed

[2020-05-26 23:19] jpedroschmitz commented on #235
Hey guys, I just created an example of a Radio Button with TypeScript, [check it out](https://codesandbox.io/s/unform-typescript-radio-l0ipe). Let me know if it helped 🚀

ps: when you have a `getValue` on your `registerField`, a `path` is not required.

[2020-05-26 23:25] jpedroschmitz commented on #238
Hey @rrigoni, as version 2.x was published as a separate package, you can still find the docs of the version 1.x on NPM [at this link](https://www.npmjs.com/package/@rocketseat/unform).

[2020-05-26 23:25] #238 closed

[2020-05-27 13:10] cezarmzz commented on #235
Hey @jpedroschmitz!
Thank you for your answer!
I checked the code and saw some little parts that I never think about.

Thank you again and for me, you can close this Issue.

[2020-05-27 13:51] #235 closed

[2020-05-27 22:16] thaydds commented on #227
@diego3g can i take this one?
if you haven't done it yet, of course.

[2020-05-27 23:59] diego3g commented on #227
@thaydds of course

[2020-05-29 01:57] dougg0k commented on #243
@taikio Try this

[code]

[2020-05-29 10:15] letalumil commented on #229
Agree, it would be really great if we could present a validation error right after the user's input, not after the submit.

[2020-05-29 14:25] taikio commented on #243
@dougg0k  it works perfectly, thanks for the help

[2020-05-29 14:25] #243 closed

[2020-05-31 19:30] dougg0k commented on #235
I had to take this approach since `defaultChecked` is not updated after rendering.

https://gist.github.com/dougg0k/b616d84c286edfeb6ec46346041fbedc

[2020-06-01 00:32] dougg0k commented on #243
You're welcome. I've updated the snippet to support multi values.

[2020-06-01 14:16] thaydds commented on #227
hey @diego3g, correct me if i'm wrong but i think this issue belongs to another repository:
https://github.com/Rocketseat/gatsby-themes

i found the [demo](https://rocketdocs.netlify.app/) and we have the same error here too.
i'll check if i can fix.
tnks.

[2020-06-03 16:44] diegobonagurio opened #245 "Biblioteca react-numpad"
Ola pessoal,

Estou colocando um teclado virtual na minha aplicação usando o react-numpad, como teria que fazer para validar esse Numpad dentro do Form?

![img2](https://user-images.githubusercontent.com/56571038/83664394-4fc6cb00-a5a0-11ea-943d-af67b8741846.png)

Do jeito que está ele não consegue fazer a validação, alguma ideia de uso?

[2020-06-03 19:48] AlbinoMeneguettiNeto opened #246 "@unform/core exports Form"
I'm using unform in a web app and I was using auto import from vscode and it auto imported from @unform/core.

The form from unform/core gave me the same errors as form from unform/web but it doesn't render.

Why is there a export Form from @unform/core? It gave me a little of trouble to figure out what was happening.

[2020-06-05 21:56] davifalta opened #247 "Dynamic form with conditional fields"
Hi,
I'm working on a survey feature for my app, in which I'll fetch a template from the API, and create the form fields according to it. I'll have a bunch of different input types (like checkbox, radio buttons, and so on). This library is the main candidate for our use case, since we have huge forms and unform offers scalable state management through the use of _uncontrolled_ presentational compon

[2020-06-08 12:24] LauraBeatris opened #248 "useField hook doesn't provide a validation for the input name"
**Description of bug**

In order to register an input field, we must provide the name of it to the ``useField`` hook.
But if we forget to provide it, the hook will try to execute some operations with an undefined value, and that will throw an unexpected error.

**To Reproduce**

1. Create a custom input component with the ``useField`` hook
2. Import the ```Form``` component and use the custom inpu

[2020-06-08 13:50] jpedroschmitz commented on #245
Hey, we are closing this issue as it is not following the guidelines [described here](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#language).

[2020-06-08 13:50] #245 closed

[2020-06-10 03:31] dc143c opened #250 "Unfom returns undefined at every Input"
Hello. Recently I've started working with React Native and I was using unform just fine.
I've added some Inputs and now it doesnt seem to send any data anymore. It shows its fields but never its content, as you can see below.
The inputs with content:
![image](https://user-images.githubusercontent.com/58320393/84223963-bc1a6080-aab1-11ea-87a6-8671081bf102.png)
The data gotten by my console.log(data

[2020-06-10 03:39] dc143c commented on #250
My Input file:
[code]

Just as recommended on Unform documentation.

[2020-06-13 22:13] LauraBeatris commented on #250
Hi @dc143c 😁

What's the repository with your code?
That'll help the contributors to reproduce the issue with more details

[2020-06-14 01:17] dc143c commented on #250
Hello, Laura! grin
I just worked out using a simple button for password reset instead.
Since unform was working in other screens, I thought it could be some bug or mistake made by me when I was writing.

Since I worked out this problem I'll close this topic, okay?
Thanks for commenting and trying to help!

[2020-06-14 01:17] #250 closed

[2020-06-16 15:51] diego3g commented on #246
Fixed. Just update unform version using `yarn add @unform/core @unform/web`

[2020-06-16 15:51] #246 closed

[2020-06-16 15:55] diego3g commented on #234
Got it! Don't you think that doing this kind of API we're letting the declarative programming of React aside, doing an imperative DOM listener?

I don't know, even with the children forms i think that `onChange` will still be a better option.

But i would love to hear more about what you all think.

[2020-06-16 15:55] #233 closed

[2020-06-16 15:57] diego3g commented on #227
@thaydds Did you manage to do that?

[2020-06-16 16:05] diego3g commented on #229
Hi guys, thanks for the discussion!

For now, Unform tries to not keep track of the state of the form, including submits or validations.

That's why Unform cannot be compared to Formik, for example.

Everytime we keep track of some information inside Unform, we need to create a state so we can store that information and pass it along the children components of the form. Every state change cause a

[2020-06-16 16:06] diego3g commented on #237
Closing since no interaction from the creator. Feel free to reopen if the problem persists.

[2020-06-16 16:06] #237 closed

[2020-06-16 16:08] diego3g commented on #241
You're using an old version of Unform. Since 2.0 we changed a lot of stuff. I really recommend you to take a look at the migration guide: https://unform.dev/migration-guide

I'll close for now, but feel free to reopen if you still have problems.

[2020-06-16 16:08] #241 closed

[2020-06-16 16:10] diego3g commented on #242
Hello @jrmarqueshd, i don't think i got it.

Where are you using the `.split` method? Can you point exactly where the problem is inside the docs?

[2020-06-16 16:12] diego3g commented on #247
Hello @davifalta, do you think you can show us one example of something you need to create so we can work on a Code Sandbox demo of that?

[2020-06-16 16:12] diego3g commented on #248
Fixed on #249.

[2020-06-16 16:12] #248 closed

[2020-06-16 17:38] cristianjesuszup opened #252 "Problem with import @unform/web v2.1.2"
**Description of bug**

After the v2.1.2 update, importing @ unform/web is no longer recognized. Because there are no components in the folder.

**To Reproduce**
1. run `yarn add @unform/core @unform/web`
2. try import `import { Form } from '@unform/web';`

**Screenshots**
![image](https://user-images.githubusercontent.com/63881443/84808310-e783da80-afde-11ea-9343-ae83fc58cb66.png)

![image](https

[2020-06-16 17:44] mateuscaldas commented on #252
I have the same problem

[2020-06-16 18:04] avrcoelho opened #253 "Error when build, version 2.1.2"
Cannot find module: '@unform/web'. Make sure this package is installed.

You can install this package by running: yarn add @unform/web.

[2020-06-16 18:29] jorgeants opened #254 "Error in build RN, version 2.1.2"
After upgrade version 2.0.0 to 2.1.2, I'm have a error during build in React Native.
Even after run `start --reset-cache` or `run-ios`/`run-android`.

Error description:

`Metro Bundler has encountered an error: While trying to resolve module '@unform/mobile' from file '.../project/path/form.js', the package '.../node_modules/@unform/mobile/package.json' was successfully found. However, this packa

[2020-06-16 19:53] lucaswx2 commented on #252
yarn add @unform/web@2.1.0 solves while the package is not properly updated.

[2020-06-16 21:48] diegoarcega commented on #253
same

[2020-06-16 22:49] diego3g commented on #253
Fixed. Messed up on latest release.

[2020-06-16 22:49] #253 closed

[2020-06-16 22:49] diego3g commented on #254
Fixed, install it again please.

[2020-06-16 22:50] #254 closed

[2020-06-16 22:50] diego3g commented on #252
Fixed, install it again please.

[2020-06-16 22:50] #252 closed

[2020-06-18 12:35] dougg0k opened #256 "Checkbox only, getValue issue"
Hi,

I was trying to make a checkbox work with Unform, but I wasn't able to, completely, for whatever reason the value I receive from the form submit is always the `options` array that I gave to the implementation, and anything returned from `getValue` is ignored. But on the other hand, `setValue` is working fine.

I have other implementations with Unform, such as Input, Radio, DatePicker, Toggle,

[2020-06-18 13:14] dougg0k commented on #256
Nevermind, it was an issue elsewhere here. `getValue` is working.

[2020-06-18 13:14] #256 closed

[2020-06-18 17:05] fabianoalmeida opened #257 "Error when creating formRef using TypeScript"
**Description of bug**
I'm creating a new page using unForm and after following the instructions [here](https://unform.dev/recipes/typescript) I'm facing this error:

**To Reproduce**
[code]

**Exception or Error**
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/417495/85049769-86d5d880-b16b-11ea-9f53-5f6876938d78.png)

**Environment:**
 - Windows
 - Visual Code
 - Node

[2020-06-18 17:33] jpedroschmitz commented on #257
Hey @fabianoalmeida, this error related to TypeScript, not with Unform. You could probably fix it by checking if the ref exists.

[code]

[2020-06-18 17:44] fabianoalmeida commented on #257
@jpedroschmitz it's true. You're correct.

Actually I should have used like that:

[code]

I just forgot to use `?` after `formRef.current` when I'm writing my code using TypeScript.

[2020-06-18 17:44] #257 closed

[2020-06-21 08:20] alexandreh92 commented on #247
Hi there, I believe this case is related to this issue:

e.g.
When a checkbox is checked it renders a input.

[code]

So, I've lost some time on this and doesn't figure out yet

Thank you!

[2020-06-22 17:15] diegoarcega commented on #229
Hi Diego, thanks for replying. I respect the decisions taken but I'd like to make some additional comments.

1. I believe trade off of implementing a state within the form is worth it. Let's not be so strict with performance, the benefit of having a isSubmitted in state in my opinion brings more value than it  reduces the lib's performance.

2. The validation could be passed down to the Form compo

[2020-06-22 17:15] #229 closed

[2020-06-22 17:39] diego3g commented on #229
Hello @diegoarcega, i'm happy to have such a good discussion about this with you.

I can be wrong but i don't seed Unform as an library to have the same productivity in forms as Formik does. Unform is focused a lot in complex forms and performance, so i don't think that you should exclude all other form options when building smaller forms.

If you still think it would be great to unform to handle

[2020-06-25 18:25] diegoarcega commented on #229
I wasn't aware Unform wasn't an alternative to Formik and all the others, ok now I understand it was meant to be different and to not  cover the cases I mentioned that should be covered.

Maybe I need to dig a bit further then and really know the use case for Unform in contrast to the alternatives.

Thank you for this explanation.

[2020-06-25 20:30] luizfelipelaviola opened #259 "unRegisterField"
**What would you like to be added**:

In React we sometimes need to disassemble a DOM component, which was previously 'registered' to Unform using registerField. So, it would be great to have a function to be used on the return of useEffect to avoid this error, a unRegisterField function.

**Is your enhancement request related to a problem? Please describe.**

The routine shown above triggers an e

[2020-06-27 20:01] nicolasdezena opened #261 "Remover chaves quando o valor for vazio"
Galera, percebi que quando não digitamos nada no input e fazemos um getData(), o valor que vem por default é uma string vazia(''), isso me gerou problemas no Yup, pois o .date entende que foi passado algum valor, o que eu fiz foi a função abaixo, porém não sei se é a melhor forma(queria deixar isso de alguma forma global quando eu chamo o getData())

[code]

[2020-06-29 18:45] etc-tiago opened #262 "Is it possible to reorder the input list without resetting all the form data?"
**Description of issue**

I tried to follow the docs of the [complex structure](https://unform.dev/guides/complex-structures) but my goal goes a little further. I have a form with a list of inputs where the values will be transformed into a list for the react-selector, dynamically.

My point of request is in the reordering of items. I'm using `react-sortable-hoc` and when making the move, I get th

[2020-06-29 19:38] EduGomes18 opened #263 "Prevent submit event"
I'm using unform with react-token-input and i had a problem because the key Enter that is ussed to create Tokens inside the input also trigger the submit function of the form, how can we prevent this key of triggering submit?

This is my form:

`<Form
            ref={inputRef}
            onKeyUp={e => {
              if (e.keyCode === 13) {
                e.preventDefault();
              }

[2020-07-03 14:10] Zigulich opened #265 "[ReactJS] Selecionar o valor padrão de um select ao resetar o form"
**O que você gostaria que fosse adicionado?**:

Quando usada  a função reset() do form, os campos do tipo **select** seja resetados para seu valor **default** (definindo no option como **selected**) e não limpos.

**Por que isso é necessário?**:

Quando o usuário envia o formulário, não é necessário que ele selecione o select que já possui um valor padrão, somente quando há extrema necessidade. O

[2020-07-03 14:55] fmontone opened #266 "Forward Ref to Styled Component Input with Typescript"
**Description of issue**

I'm trying to build a UI components LIB but I'm facing some difficulties with ref forwarding. Can't really understand how to forward ref to an input element on the example below:

**Usage example**

Have my **Input created on my Lib** with Styled Components.

[code]

and have an **UnformInput** on my application, to get my Input styles:

[code]

[2020-07-03 17:16] jpedroschmitz commented on #263
Hey, have you tried doing a [manual form submit](https://unform.dev/guides/manual-form-submit)?

You can add it to the button `onClick` event.

[2020-07-03 18:59] tassiorego commented on #125
I had the same problem. When I fetch an API isn't able to set a new value.

[2020-07-06 20:23] paulohenriquepm commented on #242
Hi @diego3g!

I'm having the same problem, when i use either `formRef.current.setData()` or `formRef.current.setFieldValue` i get the error `Unhandled Rejection (TypeError): insertStr.split is not a function`

Here is my InputMask and Form component https://gist.github.com/paulohenriquepm/1f3c88c137c7341c0e4e6ea12102b0c2

You can find the InputMask on line 677 of Form component

[2020-07-06 20:51] jpedroschmitz commented on #265
Hey @Zigulich, I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2020-07-06 20:51] #265 closed

[2020-07-06 20:52] jpedroschmitz commented on #261
Hey @nicolasdezena, I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2020-07-06 20:52] #261 closed

[2020-07-07 01:48] diego3g commented on #266
Hello @fmontone, i didn't get exactly what you trying to do. Is the problem with the ref or the styles?

[2020-07-07 01:52] diego3g commented on #262
@etc-tiago Can you try to provide a minimal example on Code Sandbox of what you're doing, so i can reproduce it inside my environment? This way i can probably find an way to fix it.

[2020-07-07 01:57] diego3g commented on #259
Hello @luizfelipelaviola, when you use the `useField` inside an input, it automatically calls `unregisterField` when the component gets unmounted, using the `useEffect`: https://github.com/Rocketseat/unform/blob/master/packages/core/lib/useField.ts#L38

Do you need to call it manually?

I don't think i got the use case.

[2020-07-07 11:53] fmontone commented on #266
Just wanna know in this situation where and how can I use forwardRef so it do break.
Do I have to declare in my Unform Input, or in my original styled input component? Because I won't use my input with Unform in every situation, and wont receive forwarded refs in every situation too.
I'm just pretty lost on strategy for reusing my input and my Unform Input as well, all strapped with styled compone

[2020-07-07 14:30] tavareshenrique commented on #235
@jpedroschmitz What is the best way to test registerField using the Test Library?

![image](https://user-images.githubusercontent.com/27022914/86796511-0ce78f80-c045-11ea-9c7a-d80a05143841.png)

Can you help me, please?

[2020-07-07 17:17] etc-tiago commented on #262
@diego3g Thanks for the answer. During the construction of the code sandbox for example, I realized that my code mixed with the context api I was using previously in the formation of the array.

I also realized after looking at the `@unform/core` code that the reason for not updating is that my field may not be registered, as it is a dynamic form:
https://github.com/Rocketseat/unform/blob/57a735b0

[2020-07-09 02:46] #262 closed

[2020-07-12 22:07] luizfelipelaviola commented on #259
In a large project that I worked on last month, I had to perform maintenance on a code that was wrongly looking for the ref of a component registered by the unform that had been dismantled from the screen. I was not able to reproduce the same situation again, but in this case, after several analyzes and opinions of colleagues, we concluded that it was an error in the code. Thank you!

[2020-07-12 22:07] #259 closed

[2020-07-13 20:48] #227 closed

[2020-07-13 20:49] jpedroschmitz commented on #227
Hey guys, thanks for reporting this problem 💜

We fixed it on #270 🎉

[2020-07-15 00:14] LucasBerce71 opened #271 "Translate read.me for multiples languages"

[2020-07-15 20:20] tiagosn01 commented on #242
Hi guys, I'm having the same problem, data loads normally on the screen, but when I submit form the input with the defaultValue comes empty.
Is it possible to set the form data manually?, I'm trying but its not working

[2020-07-16 18:23] marcelokanu opened #273 "Checkbox com apenas uma opção selecionada"
Utilizando o component Checkbox do unform (https://unform.dev/examples/checkbox), qual a forma mais simples de permitir que  apenas uma opção possa ser checkada ?

[2020-07-17 02:17] marcelokanu commented on #273
Vasculhei as issues e encontrei https://codesandbox.io/s/heuristic-haslett-58hhy?fontsize=14&hidenavigation=1&theme=dark&file=/src/components/Radio.js

Me resolve. Obrigado

[2020-07-17 02:17] #273 closed

[2020-07-17 13:23] AZagatti opened #274 "React Native async setData does not appear visually"
**Description of bug**

I'm taking a value from AsyncStorage and if there is an add in the input, the value is added but is not reflected visually, if I submit without filling input, it works.

**To Reproduce**

With the Form and Input created try to add the values asynchronously with useEffect.

**Expected behavior**

Add the value to the input and reflect visually.

**Example**

[code]

**Enviro

[2020-07-17 16:24] jeanmolossi opened #275 "I have a trouble using with react-simple-code-editor and unform"
Without react-simple-code-editor it works, when i use the Input from ''@unform/web', but I need that works with code-editor

Look that
**To Reproduce**
https://codesandbox.io/embed/unform-web-zfkq6?fontsize=14&hidenavigation=1&theme=dark

**Exception or Error**

<pre><code>TypeError
Cannot read property 'test' of undefined
    at l (https://zfkq6.csb.app/node_modules/
unform/core/dist/index.es.js:

[2020-07-17 18:10] DarlanCosta opened #276 "Checkbox + unform in React-Native"
I looked in the documentation I didn't find an example of integration of Checkbox for React-Native. I tried to implement the React example but was unsuccessful. Was there an example available?

[2020-07-17 18:14] MateusSoares895 commented on #276
I don't know if it is possible but will try integrate or develop

[2020-07-17 18:34] AZagatti commented on #274
Doing some more tests I managed to solve. When creating my Input I added the following fields to the registerField following the Unform doc, as I had based on the 'GoBarber' Input, I had not inserted the setValue and clearValue before.

[code]

[2020-07-17 18:34] #274 closed

[2020-07-18 15:42] EliasGcf commented on #276
@DarlanCosta

I implement the [react-native-community/react-native-checkbox](https://github.com/react-native-community/react-native-checkbox) with Unform, you can see here [React Native Checkbox + Unform](https://github.com/EliasGcf/unform-examples-mobile/blob/master/src/components/Form/checkbox.tsx).

My problem to implement was find in ref where is the "checked" value, so I "create" my on checke

[2020-07-18 18:46] RenatoCesarF opened #277 "inputRef.current.value retornando "undefined""
Estou seguindo a demonstração do Próprio vídeo do Diego e estou com este problema, quando, no vídeo, o Diego simula um valor de input, o terminal retorna o valor simulado, no meu caso apenas retorna undefined, também já tentei seguir a documentação e não adiantou. Segue meu código:

input.js:

import React, { useEffect, useRef} from 'react'
import {useField} from '@unform/core';
import {TextInput}

[2020-07-18 20:51] guisartori opened #278 "function setErrors(validationErrors) focar no input correspondente ao primeiro erro"
Basicamente é o seguinte. Quando eu utilizo o setErrors, tudo funciona normalmente, mas eu confesso que ia ser uma baita mão na roda que o setErrors selecionasse automaticamente o primeiro input que tem errors para não ter que fazer isso manualmente. vlwwwwwwww

[2020-07-23 00:40] jeanmolossi commented on #275
Its happen because my components are out of a Form exported in @unform/web

[2020-07-23 00:40] #275 closed

[2020-07-23 19:39] yarapolana commented on #277
Se não estou em erro Form tem que ter o seu proprio ref`
[code]

[2020-07-23 20:08] RenatoCesarF commented on #277
só tira uma dúvida aqui pra mim. Essas sugestões que você passou, serão alterações feitas todas no mesmo arquivo? ou em arquivos diferentes? (imagino que os três pontos sirvam ou para dividir os arquivos, ou as partes de um mesmo arquivo)

Segunda dúvida, eu coloquei aqui as alterações no meu componente, e o VS code esta reclamando que a sintaxe é de TypeScript e não javaScript, como eu adapto pra

[2020-07-23 20:45] shandryll commented on #125
I'm having this same problem, for fields of type "select", when I make a return of data via API these same data are not rendered. The rest (input is rendered normally).

[2020-07-24 07:41] yarapolana commented on #277
A suggestão é para o seu ficheiro Search, que é la onde tem o <Form> Deve faltando a definição do ref mas manda ai o seu repo pra poder ajudar melhor.

[2020-07-24 13:21] RenatoCesarF commented on #277
O repositório: https://github.com/RenatoCesarF/WhatSIP

Tem muita coisa errada pois é meu segundo projeto web e meu primeiro projeto react-native.
A parte em questão esta em src/componentes/SearchBar. alguma coisa assim

Desde já obrigado pela ajuda.

[2020-07-24 15:32] yarapolana commented on #277
Vi agora bom falta a configuração inicial do seu Input e a configuração do Form, da forma que voce setou o form não tem ref e não reconhece o seu Input. Não precisa usar referencias de tipagem do Typescript.

Este é o exemplo official de como connectar o Input e o Form.

https://snack.expo.io/@diego3g/1e9fb3

[2020-07-24 15:43] mmouradev commented on #277
Hey @RenatoCesarF and @yarapolana, please follow the guidelines [described here](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2020-07-24 15:44] mmouradev commented on #278
Hey @guisartori, please follow the guidelines [described here](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2020-07-24 17:13] sidroniolima opened #280 "Empty values on fileinput multiple"
Hi. Someone could help me with a fileinput multiple?

The form sets the objects but with empty values. The preview images are displayed.

Form data:
[code]

Code:

[code]

Tks!

[2020-07-24 19:31] carlosallexandre commented on #280
Hey @sidroniolima you need provide a custom getValue function on registerField.

[code]

[2020-07-26 19:01] arielff3 opened #282 "Meu submit é limitado a 22 inputs usando o <Scope>, isso é normal?"
Aqui o retorno
![bb778e81-fc8d-4772-951a-e7eb39444cc2](https://user-images.githubusercontent.com/51038539/88487152-061fae80-cf59-11ea-9afa-735133eb7229.jpeg)

Aqui o código
![Captura de tela de 2020-07-26 16-00-41](https://user-images.githubusercontent.com/51038539/88487176-2ea7a880-cf59-11ea-9b7b-973c8f1b0989.png)

[2020-07-26 23:45] carlosallexandre commented on #282
Hey @arielff3,

Scope does not limit the number of Inputs.

Give more details about your error.

[2020-07-27 00:26] carlosallexandre commented on #263
Hey @EduGomes18,

In this case you could catch onKeyDown/onKeyPress event in your component and stop the propagation `event.stopPropagation()`.

[2020-07-27 02:01] EduGomes18 commented on #263
Thank you @carlosallexandre , It works perfect!

[2020-07-27 13:08] shandryll opened #283 "Data in Select field not rendering"
**Description**
I have a problem very similar to that of issue #125 , where if I bring data from the select field by api, they are not rendered on the screen and are treated as undefined.
This field only has value again if an interaction is made with it.
I didn't validate this problem with the other fields, but with the input component everything is working perfectly, the problem so far is in the

[2020-07-27 18:06] sidroniolima commented on #280
Thanks for the reply, but it doesn't work. Look:

`console.tron.log(ref.files);`
`[
  {}
]`

`console.tron.log(req.value);`
`C:\fakepath\forno.jpg`

[2020-07-28 00:26] carlosallexandre commented on #280
Hey @sidroniolima,

[Check this on codesandbox](https://codesandbox.io/s/unform-web-input-file-toiuf?file=/src/components/Input.js)

All u need is provide a custom getValue on registerField like shown below:
[code]

[2020-07-29 15:12] vhcord commented on #125
i have same problem, any solution ?

[2020-07-29 16:19] sidroniolima commented on #280
A propriedade file continua vazia. Olha só:

`[
  {
    "name": "GLrDTX70My6V303cWvkI.jpg",
    "size": 15970,
    "file": {}
  }
]`

[2020-07-29 16:26] sidroniolima commented on #280
Meu form:
`      <Form ref={assetsFormRef} encType="multipart/form-data">
        <InputFile name="images" />
      </Form>`
How I get the form data:
`const assetsFormData = assetsFormRef.current.getData();

[2020-07-29 19:16] sidroniolima commented on #280
I think the problem is not with the Input. Take a look at this modification:
`
for (let i = 0; i < ref.files.length; i += 1) {
          let reader = new FileReader()
          reader.readAsDataURL(ref.files[i]);
          reader.onloadend = function() {
            files.push({
              name: ref.files[i].name,
              size: ref.files[i].size,
              file: reader.result,

[2020-07-29 19:16] carlosallexandre commented on #280
Hello again @sidroniolima,

What are u trying to do? If you are sending this files, How are u doing this? If don't, tell what you want to do with this files?

[2020-07-29 19:57] sidroniolima commented on #280
Hi! So... there's a if testing if the file property. Somehow the js saw this as undefined or null. Perhaps it has data.
The solution: I removed the if testing the file and now it's reaching the api controller.
Thank you very much!!!

[2020-07-29 20:01] sidroniolima commented on #280
The getValue code:
`
      getValue(ref) {
        return [...ref.files];
      },
`

[2020-07-29 20:05] RenatoCesarF commented on #277
This exemple that you send me, when you submit the form, it return a object with all empty, like:

name: " "

it this right? Maybe he don't finish this part, just asking to be sure

[2020-07-29 22:30] mauriciobatistaneves opened #284 "Displaying the error list"
**Description of issue**

Guys, when using unform with Yup validation, how do I display the list of errors in a 'View' in the react-native form? The idea would have an area to always display all errors above the form. As a toast in reactjs. I know that there is a formRef.current.getErrors () method, but I was unable to retrieve the messages.

Thank you.

**Usage example**

I catch errors in this w

[2020-07-30 00:32] matheuscarvalho87 opened #285 "onChangeText e onSubmitEditing não funcionam juntos"
**Description of bug**

Dentro do meu input utilizando o unform estou usando o onSubmitEditing para validar o texto dentro do formulario e tentando utilizar o onChangeText para chamar uma função que preciso toda vez que o texto muda, mas usando os dois juntos o onSubmitEditing para de funcionar.

 Add information about your environment
 - [Windows10]
-  [React Native]

[2020-07-30 01:40] tassiorego commented on #125
It worked for me, with the following code:
`
formRef.current?.setFieldValue('operator_id', {
   label: 'label',
   value: 'value',
 });
`

You must change the setValue function for:
`setValue: (ref: any, value: any) => {
        ref.select.setValue(value);
      },`

[2020-07-30 02:31] daviddossantos opened #286 "Add Example Component Picker"
**What would you like to be added**:
Component Picker - React Native
I had to add the picker component to a project I was developing, I was already using unform and I didn't have any examples of implementation with it.

**Why is this needed**:
I believe that just like me, someone needed to use a picker along with the unform form and did not know how to implement. When searching the internet i didn

[2020-07-30 14:28] diegobonagurio opened #287 "TextField - Progressive rendering"
**What would you like to be added**:

Progressive rendering of a list when scroling down the mouse

**Why is this needed**:

On a project that i'm working, a I have a list with a lot infos and when I select this filed for show the content his response time is very long because my list is long. The ideia would load small list and I when scrolling the mouse that list progressively load

**Is your en

[2020-07-31 09:40] Snir-soft-solution opened #288 "I can't assign value to react select library using setData, you could help me with that. thanks in advance and good work."
**Description of bug**

**To Reproduce**

**Expected behavior**

**Exception or Error**

<pre><code>

</code></pre>

**Screenshots**

**Environment:**

**Additional context**

[2020-07-31 10:01] #288 closed

[2020-07-31 13:35] yarapolana commented on #277
@mmouradev got it.
@RenatoCesarF You probably didn't set up the input or the logic correctly, I still see it in the github you shared, it is missing a few too many things.
Here you go:

[code]

And this is where you get your input data

[code]

[2020-07-31 17:05] caiuzinn opened #290 "Unform - TypeError: Cannot read property 'name' of undefined / Cannot read property 'email' of undefined / Cannot read property 'password' of undefined"
**Description of bug**

**To Reproduce**

**Expected behavior**

Ola, meu nome é Caio Miranda, e estou fazendo o curso goBarber da Rocketseat, e encontrei um erro que me travou durante o desenrolar do curso.
O problema aparece quando coloca o trecho:
const { fieldName, defaultValue, error, registerField } = useField(name);

E gera o seguinte erro:

**Exception or Error**
TypeError: Cannot read pro

[2020-07-31 19:24] #290 closed

[2020-07-31 23:46] darlanhms commented on #277
Thanks @yarapolana, I was having trouble on integrating this input in react native and your example helped me a lot

[2020-08-01 01:47] RenatoCesarF commented on #277
It still saying that i can't write

setValue(reference: any, value)

in a JS file.

[2020-08-01 03:00] darlanhms commented on #277
yes cause it's typescript stuff, you have to write all your code without typing anything, in this case you have to write without `reference: any` you can just write  `setValue(reference, value)`  that it will work

[2020-08-01 03:03] darlanhms commented on #277
but in the case that @yarapolana showed before, the params aren't being used, you can just ignore than that everything will be fine

[2020-08-01 13:01] RenatoCesarF commented on #277
Now it return a lot of information about the class "Jogo", and if i write to show just data.name or data.Jogo, its return undefined.

I think it is not getting what i write in my input

[2020-08-01 17:50] darlanhms commented on #277
you have to show us how your code is looking now if you still need help

[2020-08-01 18:45] matheusAMDS opened #291 "Error: Rendered more hooks than during the previous render."
I'm trying to implement a page that creates a form, with basic inputs and checkboxes.

**Description of bug**
Reloading the page, after adding a new field to the form, this happens:
Unhandled Runtime Error
Error: Rendered more hooks than during the previous render.

**To Reproduce**
![image](https://user-images.githubusercontent.com/39417098/89108330-e4697000-d40d-11ea-8aa9-70923b0f6aa2.png)

[2020-08-01 20:07] RenatoCesarF commented on #277
I do a commit to show how it is now.

https://github.com/RenatoCesarF/WhatSIP

at the same Repo of before

[2020-08-01 20:26] yarapolana commented on #277
@RenatoCesarF Your Form doesnt have ref see the comment above

[2020-08-01 21:09] darlanhms commented on #277
your form doesn't have a ref, you can see this example that's in the documentation

[code]
so, you'll have to create a formRef with null as it's initial state, then you have to assign that ref on the form from unform

[2020-08-02 10:54] jonathantvrs opened #292 "documentation in other languages"
**Description of issue**

Translate docs to support multiple languages

[2020-08-02 19:12] matheusAMDS commented on #291
I'm closing this issue because i find out that the problem wasn't caused by the code above, but by other component that worked together with it.

[2020-08-02 19:12] #291 closed

[2020-08-02 21:07] daviddossantos commented on #286
thanks @EliasGcf

[2020-08-03 17:44] RenatoCesarF commented on #277
It work. Thank you (both) for the help and the patience <3

[2020-08-03 17:45] #277 closed

[2020-08-04 14:57] LucielVitorBS opened #293 "Problemas ao usar setErrors com arrays"
Olá! Eu estou usando a função `setErrors` do `formRef`, quando adiciono um erro do tipo string, o erro vai correto, porém, quando tento setar algum erro do tipo Array, ele simplesmente não muda o error do `useField` para eu tratar no própio componente.
Encontrei uma solução alternativa, que é percorrer os erros retornados da api com o `Object.keys` e usando o `setFieldError` para adicionar os erro

[2020-08-05 04:41] jonathantvrs commented on #292
@diego3g @jpedroschmitz gatsby with i18n?

[2020-08-05 10:53] jpedroschmitz commented on #285
Hey @matheuscarvalho87, I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2020-08-05 10:53] #285 closed

[2020-08-05 10:53] jpedroschmitz commented on #293
Hey @LucielVitorBS, I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2020-08-05 10:53] #293 closed

[2020-08-07 17:50] jvrviegas commented on #247
I have the same problem on a project that i'm working. When i remove the fields, they are still send to the form submit. Haven't figured out either, waiting for a solution!

[2020-08-11 14:54] alvesrafa commented on #125
it worked for me like that:

[code]

[2020-08-13 04:10] ayrtonbsouza opened #294 "Property 'translate'is missing in type (...)"
**Description of bug**
This package crashes my application when I try to use the `<Form>` tag. It returns a error saying the property "translate" is missing in type '{ children: Element[]; ...'.
It seems like there's a surplus type written in the code.

**To Reproduce**

-  Just install the needed packages to use this package on a web React application.
   -  `yarn add @unform/core`
   -  `yarn ad

[2020-08-13 18:39] ayrtonbsouza commented on #294
It seems like it's a problem with de `-e` flag in package installation. I tried again installing all the packages without this flag and it's running perfectly.

[2020-08-14 14:13] RicardoBrito1938 opened #297 "clear state using react-select"
Hello guys, first of all, i would like to report, this is an amazing Lib, i am using a select input, i can pull my data and show it, but i can't clear when i submit an action for it, would you be so kind and tell me what i am doing wrong?

I ran some examples and digged in documentation, tryied to make it similar to Input component on documentation: see my code below

[code]

[2020-08-14 14:28] RicardoBrito1938 commented on #297
Team, it working on my side now, in case someone came from internet digging for it, see my solution below, i would glady accept suggestions to make it better or easier to read, i just added a clear button

<Button
              theme="light"
              type="reset"
              onClick={() => {
                formRef.current.clearField('feed_state');
              }}

              Limpar

[2020-08-14 14:28] #297 closed

[2020-08-14 16:48] ranielcsar opened #298 "how to use ReactSelect along with the TypeScript example in the documentation"
So, i have the same code from the example [here](https://unform.dev/examples/react-select#simple-select) and i need to display the options. the options are coming from an api. how can i display the options without passing the options property just using the 'getValue'?

https://codesandbox.io/s/formselectapi-8t8z5

[2020-08-16 15:54] mateushnsoares commented on #298
English only hehe

[2020-08-16 18:58] rodmirsantana commented on #290
I'm having this same issue, but I'm not using TypeScript in this case. Did you manage to solve it?

[2020-08-17 15:26] #298 closed

[2020-08-18 01:19] roaugusto opened #299 "Help with unform and react-input-mask - React does not recognize the `inputRef` prop on a DOM element."
**Description of issue**

Hey guys. Someone can help me? I trying to figure out what I'm doing wrong.

[code]

I'm using the example used with "input" component on the GoStack 11, but I'm trying to implement to use with react-input-mask.
The example in the docs said to use "ref" with react-input-mask, but I needed to use "inputRef".

I spending some days on it and appreciate it if someone can help

[2020-08-18 21:36] roaugusto commented on #299
I found the problem....

I can't define the InputRef like this:

[code]

Just change for

[code]

It works.

[code]

[2020-08-18 21:36] #299 closed

[2020-08-19 17:54] jpedroschmitz commented on #292
Hey @jonathantvrs, our current focus is creating more examples to improve the documentation. After that, we plan to update the theme we use on the website, adding search, dark mode and also support for other languages.

I am going to keep it open, any updates on the process I'll add here.

[2020-08-19 18:22] #263 closed

[2020-08-19 19:54] #278 closed

[2020-08-19 19:55] jpedroschmitz commented on #282
Hey @arielff3, I am going to close this issue because it is not following the guidelines [described here](https://github.com/Rocketseat/unform/blob/master/.github/CONTRIBUTING.md#language).

While contributing or interacting in any way in this project, refrain from using any language other than English.

[2020-08-19 19:55] #282 closed

[2020-08-19 22:45] jonathantvrs commented on #292
Perfect! Thanks for Answer @jpedroschmitz

[2020-08-20 00:02] medeiroshudson opened #302 "parseFloat dinamically on component"
I have a lib that returns me an float formatted string (ex: "4458.76") and i want to parse it to Float everytime the input ref is updated.

I tried use:

`useEffect(() => {
    registerField({
      name: fieldName,
      ref: inputRef.current,
      path: parseFloat('state.numAsString'),
    });
  }, [fieldName, registerField]);`

But everytime it return `NaN`
Someone can help me?

[2020-08-20 01:47] carlosallexandre commented on #302
Hey @medeiroshudson,

The **path** is where **unform** look for a value on your component when form is submitted. Usually path is **value**. And in your registerField you provide path like a parseFloat of a string that's return NaN.

I didn't understood much your use case, but:
- i think you could register a function in **onChange** of your component and use parseFloat every time that value change

[2020-08-20 13:22] jpedroschmitz commented on #302
Hey @medeiroshudson, since you need to return a float value, you can use the `getValue` method inside `registerField`.

I created [this example](https://codesandbox.io/s/crazy-hodgkin-67jxm) for you. Hope it helps!

ps: when you have a `getValue`, you don't need a `path`;

[2020-08-20 14:18] medeiroshudson commented on #302
Thanks @jpedroschmitz
It fits perfectly nice in my needs!

[2020-08-20 14:18] #302 closed

[2020-08-20 17:22] jpedroschmitz commented on #271
When opening an issue, please provide more information about your request.

I am closing it due to #292.

[2020-08-20 17:22] #271 closed

[2020-08-22 18:35] yuriedmundo opened #305 "Example usage react native with typescript"
**Description of issue**
I'm trying to put unform in my react native project with typescript but the documentation is incomplete with an example. Is it possible to write a complete example like this [](https://snack.expo.io/@diego3g/1e9fb3) using typescript + react native?

**Usage example**

![image](https://user-images.githubusercontent.com/5764593/90963309-e5317700-e48c-11ea-89cc-fc50dc4e0f9e.p

[2020-08-23 17:06] yuriedmundo commented on #305
@eltonmarques96  I would like, but it's not working :(

[2020-08-26 16:33] RicardoBrito1938 opened #306 "set Scope to dynamic values"
Hello team, good aftertnoon

I found an example on documentation, but i could not continue with my logic, i have the following fileds in my database

![image](https://user-images.githubusercontent.com/51454097/91330752-3ba9f880-e7a0-11ea-94ec-0654847e05d1.png)

my is working fine, but when i go to quiz_pages, i would have to access different pages for the same quiz object, on documentation i found

[2020-08-26 16:36] RicardoBrito1938 commented on #306
for the record, here is my MultipleInputs components, if you have other suggestion i would be glad to hear that

[code]

[2020-08-27 22:50] carlosallexandre commented on #222
Hey @Vini-Dev, everything okay with u?

I was trying reproduce this bug [here on codesandbox](https://codesandbox.io/s/unform-issue222-toozi) without success.

The only difference is that i check **formRef.current** is truthy before **getData** and **setData** like shown below:
[code]
Keep us updated if it still happens.

[2020-08-27 23:10] tavareshenrique commented on #297
I have the same problem and I can't solve it. I did just that and did not clear the field.

[2020-08-28 00:10] carlosallexandre commented on #305
Hey @yuriedmundo and @eltonmarques96,

[Check this simple example on snack.expo](https://snack.expo.io/@carlosallexandre/6cb066) and say us if it helped.

[2020-08-28 04:37] carlosallexandre commented on #125
Hey @vhcord, @shandryll, @tassiorego, @nemuba, @gusflopes, @judsonjuniorr, @diego3g  and @jpedroschmitz,

[Look this example and let me updated if worked for you.](https://codesandbox.io/s/unform-issue283-nihb7?file=/src/App.tsx)

How **react-select** was registered:
[code]

[2020-08-28 04:40] carlosallexandre commented on #283
Hey @shandryll

[Look this solution here](https://github.com/Rocketseat/unform/issues/125#issuecomment-682320073) and let me updated if worked.

[2020-08-28 12:24] harlancleiton commented on #305
There is a PR that has not yet been approved, but it may help. https://github.com/Rocketseat/unform/pull/264
Preview: https://deploy-preview-264--unform.netlify.app/recipes/typescript/#simple-input-react-native

[2020-08-28 12:26] RicardoBrito1938 commented on #297
@tavareshenrique , maybe it is missing something, i have a different issue now, but i pasted the complete component's code on this issue, take a look

https://github.com/Rocketseat/unform/issues/306

[2020-08-28 12:33] harlancleiton commented on #305
@yuriedmundo this specific error is happening because you are passing two incompatible properties

Or you define ```path``` or ```getValue```

[code]

https://github.com/Rocketseat/unform/blob/master/packages/core/lib/types.ts

[2020-08-28 17:47] yuriedmundo commented on #305
Thanks man. Its okay!

[2020-08-28 17:51] Vini-Dev commented on #222
I am solved my bug when I used "setValue" in my input components, I learned that just the reference path does not solve the whole problem. But, thanks for your comment!

Like this example: [https://unform.dev/examples/react-input-mask](https://unform.dev/examples/react-input-mask)

[2020-08-28 17:51] #222 closed

[2020-08-28 21:40] #305 closed

[2020-08-31 01:03] RicardoBrito1938 commented on #306
team i will keep sharing my approaches ( that unfortunately didn't work) but it can be usefull when suggesting the solution, here it is, i tried "to paginate it"

[code]

[2020-08-31 20:46] pupato13 opened #307 "Wizard Form + Unform + Yup"
**Description of bug**
Hey guys, I'm trying to use Unform + Yup to make a multi-step form and validate each step before complete and save.

I have a parent component `MOJ.tsx` and its children, in this case, the component `StepMainDetail.tsx`. I can call the method `validate` and set `isValid` as true, but when I call the method isValid, still false.
My problem is the methods "isValid" and "valida

[2020-09-01 15:00] mrlmaia commented on #307
I'm developing a multi step form in these days too. I haven't faced any problems with validation. So, I'll let one 'step' that I've done
`
  const handleSubmit = useCallback(
    async (data: FormData) => {
      try {
        formRef.current?.setErrors({});
        const schema = Yup.object().shape({
          checkInDate: Yup.date()
            .required('Informe uma data')
            .min(

[2020-09-01 15:02] mrlmaia commented on #307
I'm developing a multi step form in these days too. I haven't faced any problems with validation. So, I'll let one 'step' that I've done

`
const handleSubmit = useCallback(
    async (data: FormData) => {
      try {
        formRef.current?.setErrors({});
        const schema = Yup.object().shape({
          checkInDate: Yup.date()
            .required('Informe uma data')
            .min(

[2020-09-01 15:09] mrlmaia commented on #307
I'm developing a multi step form in these days too. I haven't faced any problems with validation. But I always created a `handleSubmit()` and added `onSubmit={handleSubmit}` on `Form` like this:
`<Form ref={formRef} initialData={reservationData} onSubmit={handleSubmit}>`
and my handle submit has the following code
`const handleSubmit = useCallback(
    async (data: FormData) => {
      try {

[2020-09-01 19:35] pupato13 commented on #307
Hi @mrlmaia, thanks for answering!

I handle the validation, and it's working fine.

My problem is that my parent component is unable to get the updated state of the child component, who validates the step!

My parent component only calls `goNextStep` if the child component gives back the state `isFormValid` as true.

Cheers

[2020-09-02 17:42] TriStarGod opened #308 "Enhancement request: replace backend store with zustand"
**What would you like to be added**:
Replace your error state management with something like [zustand](https://github.com/react-spring/zustand).

**Why is this needed**:
Currently, whenever the current `setErrors` called, it causes the entire form to re-render.  Using a library like zustand will allow the errors to be rendered selectively.

**Is your enhancement request related to a problem? Pleas